<div class="ui secondary menu inverted is-submenu">
  <div class="header item"><a ui-sref-active="active" ui-sref="dashboard.event.module.wall.list">WALL</a></div>
  <div class="right menu">
    <div class="item">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Buscar por usuario..." ng-model="search.user.name">
                <i class="search icon"></i>
            </div>
        </div>
      <!--<div class="ui button small icon right labeled teal" ng-click="window(true)">
        Nueva Noticia<i class="plus icon"></i>
      </div>-->
    </div>
  </div>
</div>


<!-- Posts -->
<div class="ui divided list">
    <div ng-if="sending">
        <span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>
    </div>
    <table class="ui single line table selectable" ng-if="!sending">
        <thead>
        <tr>
            <th ng-click="cambiarOrdenMusica('user.name')">Usuario<span ng-if = "ordenPropiedadMusica=='user.name'"
                                                                           class="glyphicon glyphicon-chevron-{{(ordenDireccionMusica==1)?'down':'up'}}"></span></th>
            <th ng-click="cambiarOrdenMusica('likes')">Likes<span ng-if = "ordenPropiedadMusica=='likes'"
                                                                      class="glyphicon glyphicon-chevron-{{(ordenDireccionMusica==-1)?'up':'down'}}"></span></th>
            <th ng-click="cambiarOrdenMusica('date')">Fecha<span ng-if = "ordenPropiedadMusica=='date'"
                                                                             class="glyphicon glyphicon-chevron-{{(ordenDireccionMusica==-1)?'up':'down'}}"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in walls | toArray: true | orderBy: ordenMusica | filter:search">
            <td ng-click="openmodal(item.$key)">
                {{item.user.name}}
                <span style="font-size: x-small; display: block">ID: {{item.$key}}</span>
            </td>
            <td>{{(item.likes) ? item.likes : 0}}</td>
            <td>{{item.fecha}}</td>
            <td ng-click="openmodal(item.$key)">Ver Detalles</td>
        </tr>
        </tbody>
    </table>
    <!--<div ng-repeat="(key, item) in walls | orderBy:'-likes' | filter:search">
      &lt;!&ndash;div class="ui button small icon right labeled teal" ng-click="post(item.$key)">
          <i class="plus icon"></i>
      </div>
      <div class="right floated content">
        <button class="ui icon button" ng-click="remove(item.$key)">
          <i class="trash icon"></i>
        </button>
      </div&ndash;&gt;
          &lt;!&ndash;div ng-click="setStatus(item.$key, item.status)">
            Estado: {{item.status}} <i class="plus icon"></i>
          </div&ndash;&gt;
          &lt;!&ndash;<div class="ui toggle checkbox" ng-click="setStatus(item.$key, item.status)">
                        <div class="field inline">
                            <span><big><b></b></big></span>
                            <input type="checkbox" name="public">
                            <label><big><b>Estado: {{item.status}}</b></big></label>
                        </div>
          </div>&ndash;&gt;
        <section>        
          <h4>Usuario: {{item.user.name}}</h4>
          <h5>LIKES: {{(item.likes) ? item.likes : 0}}</h5>
            <p>ID: {{item.$key}}</p>
          <p style="font-size: xx-small">POST: {{item.comment}}</p>
          <div ng-if="item.image">
            <img ng-src="{{item.image}}">
          </div>
        </section>
        <div class="ui divider"></div>
    </div>-->
</div>


<!-- Crear médico -->
<!-- Popup Creación -->
<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui basci modal" ng-class="(modal) ? 'visible active' : ''">
            <i class="close icon" ng-click="close()"></i>
            <div class="header">
                  <div class="ui grid">
                    <div class="image-column">
                      <div class="ui image">
                          <img src="{{post.user.image}}">
                      </div>
                    </div>
                    <div class="header-info">
                      {{post.user.name}}
                      <span style="font-size: x-small; display: block">{{post.user.id}}</span>
                    </div>
                  </div>
            </div>
            <div class="image content">
                <div class="description">
                    <div class="ui header">
                        LIKES: {{(post.likes) ? post.likes : 0}}
                        <span style="font-size: x-small; display: block">{{post.fecha}}</span>
                    </div>
                    <div class="ui content">
                        <p>{{post.comment}}</p>
                        <img ng-if="post.image" ng-src="{{post.image}}">
                    </div>
                    <div class="ui divider"></div>
                    <div class="left">Lista de EMAILS: </div>
                    <div class="ui divided list" ng-repeat="email in lista track by $index">
                        <h5>{{email}}</h5>
                    </div>
                </div>
            </div>
    </div>
</div>


<!--div class="ui middle aligned divided list">
  <div class="item" ng-repeat="(key, notice) in walls"> 

    <div class="right floated content">
      <button class="ui icon button" ng-click="remove(key)">
        <i class="trash icon"></i>
      </button>
    </div>

          <div class="post-image mb05" ng-if="notice.image">
            <img ng-src="{{notice.image}}">
          </div>

    <div class="content">
      <div class="header">
        <a ui-sref="dashboard.event.module.news.detail({id_notice: key})" class="link black">
          {{notice.comment}}
        </a>
      </div>

      <div class="description">
        <div class="font-mini">
          <b>ID</b> {{key}}
        </div>
      </div>
    </div>
  </div>
</div-->
