<div class="ui secondary menu inverted is-submenu">
    <div class="header item">
        Pautas (banners)
    </div>
    <div class="right item">
        <div ng-init="trash = false">
            <div class="ui button small icon right labeled teal" ng-click="modal = true">
                Nuevo<i class="plus icon"></i>
            </div>
        </div>
    </div>
</div>

<!-- Listado creados -->
<div class="ui middle aligned divided list">

    <div class="item" ng-if="noData">
        <i class="middle aligned icon bookmark"></i>
        <div class="content">
            No tienes pautas creadas
        </div>
    </div>

    <div class="item" ng-repeat="(key,st) in sts" ng-if="!st.trash">
        <div class="right floated content">
            <div class="ui icon button" ng-click="edit(key)" ng-hide="isCheck(key)">
                <i class="edit icon"></i>
            </div>
            <div class="ui icon button" ng-click="save(key,st)" ng-show="isCheck(key)">
                <i class="save icon"></i>
            </div>
            <div class="ui icon button" ng-click="remove(key)">
                <i class="trash icon"></i>
            </div>
        </div>
        <i class="large middle aligned icon bookmark"></i>
        <div class="content">
            <span ng-hide="isCheck(key)">{{st.name}}</span>
            <form class="ui form" ng-show="isCheck(key)" novalidate>
                <div class="fields">
                    <div class="eight wide field">
                        <label>Nombre</label>
                        <input type="text" ng-model="st.name" to-null>
                    </div>
                </div>

                <div class="field">
                    <upload-imagen modelo="st.image" ancho="750" alto="140"></upload-imagen>
                </div>

                <h4 class="ui dividing header">Enlace</h4>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="storeurl" ng-model="st.links.stores">
                        <label>URL de aplicacion</label>
                    </div>
                </div>

                <div class="fields" ng-if="st.links.stores">
                    <div class="eight wide field">
                        <label>URL Play Store (Android)</label>
                        <input type="text" name="urlandroid" placeholder="https://play.google.com/store/apps/details?id=com.mocion.heroesfest" ng-model="st.links.android" to-null>
                    </div>
                    <div class="eight wide field">
                        <label>URL App Store (iOS)</label>
                        <input type="text" name="urlandroid" placeholder="https://itunes.apple.com/us/app/heroes-fest/id1154242509?mt=8" ng-model="st.links.ios" to-null>
                    </div>
                </div>

                <div class="field" ng-if="!st.links.stores">
                    <label>Url externa</label>
                    <div class="two fields">
                        <div class="ui input field">
                            <input type="text" name="url" placeholder="http://mocionsoft.com" ng-model="st.links.url" to-null>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<!-- Popup Creación -->
<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui indeterminate text loader" ng-if="loading">Creando</div>
    <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
        <div class="header">
            <i class="icon plus"></i>Crear
        </div>
        <div class="content">
            <form name="Newst" class="ui form" ng-submit="create()" novalidate>
                <div class="ui fluid input">
                    <input type="text" name="name" placeholder="" ng-model="form.name" required>
                    <p class="ui warning message" ng-show="Newst.name.$invalid && !Newst.name.$pristine">
                        El nombre es requerido.
                    </p>
                </div>

                <div class="field">
                    <div class="">
                        <div class="two fluid ui inverted buttons">
                            <div class="ui red basic inverted button" ng-click="close()">
                                <i class="remove icon"></i>
                                Cancelar
                            </div>
                            <button type="submit" class="ui green basic inverted button" ng-disabled="Newst.$invalid">
                                <i class="checkmark icon"></i>
                                Crear
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
