<div class="CrearNuevoEvento" style="max-width:70%; margin:auto;">
    <form class="ui form" name="generalInfo" ng-submit="save()" ng-class="{'loading': sending}" novalidate>
        <h3 class="ui dividing header">Información Requerida</h3>

        <div class="field">
            <label>Nombre del evento</label>
            <input type="text" placeholder="Añade un nombre breve y claro" ng-model="event.info.name" required to-null>
        </div>

        <div class="fields">
            <div class="eight wide field">
                <label for="date">Fecha inicio</label>
                <datepicker date-format="MMM d, y">
                    <input name="dateFrom" ng-model="event.info.dateFrom" type="text" required to-null>
                </datepicker>
            </div>

            <div class="eight wide field">
                <label for="dateTo">Fecha final (opcional)</label>
                <a href ng-click="dateTo = true" style="line-height:3; color:rgba(34,36,38,.40);"
                   ng-hide="dateTo || event.info.dateTo"><i class="plus icon"></i>Agregar fecha de finalización</a>
                <datepicker date-format="MMM d, y" ng-show="dateTo || event.info.dateTo">
                    <input name="dateTo" ng-model="event.info.dateTo" type="text" to-null>
                </datepicker>
            </div>
        </div>

        <upload-imagen modelo="event.info.image" ancho="300" alto="300"></upload-imagen>

        <h3 class="ui dividing header">Imágen para Compartir</h3>
        <upload-imagen modelo="event.info.share" ancho="500" alto="300"></upload-imagen>

        <h3 class="ui dividing header">Lugar</h3>

        <div class="fields">
            <div class="eight wide field">
                <label>Ciudad</label>
                <input type="text" placeholder="Ciudad" ng-model="event.info.city" to-null>
            </div>
            <div class="eight wide field">
                <label>Lugar</label>
                <input type="text" placeholder="Añade el lugar del evento" ng-model="event.info.place" to-null>
            </div>
        </div>

        <h3 class="ui dividing header">Boleteria</h3>

        <div class="field">
            <label>Compra de boletas (URL)</label>
            <input type="text" placeholder="http://tuboleta.com/some-event" ng-model="event.info.tickets" to-null>
        </div>

        <h3 class="ui dividing header">Twitter Feed</h3>

        <div class="field">
            <label>Hashtag del evento</label>
            <input type="text" placeholder="#MiEvento" ng-model="event.info.twitter_hashtag" to-null>
        </div>

        <social-networks model="event.info.networks"></social-networks>

        <slide-list slides="event.info.slider"></slide-list>

        <h3 class="ui dividing header">Contenido</h3>

        <div class="field">
            <div class="ui button small icon right labeled teal" ng-click="add_content('content')">
                Campo de texto<i class="write icon"></i>
            </div>
            <div class="ui button small icon right labeled teal" ng-click="add_content('video')">
                Video YouTube<i class="youtube play icon"></i>
            </div>
            <div class="ui button small icon right labeled teal" ng-click="add_content('image')">
                Imagen<i class="photo icon"></i>
            </div>
        </div>

        <div class="content" ng-repeat="(key, item) in event.contenido | orderByOrder:'_order'" ng-include="get_content_tpl(item.type)"></div>

        <!--ul dnd-list="models.lists">
            <!-- The dnd-draggable directive makes an element draggable and will
                 transfer the object that was assigned to it. If an element was
                 dragged away, you have to remove it from the original list
                 yourself using the dnd-moved attribute ->
            <li ng-repeat="item in models.lists"
                dnd-draggable="item"
                dnd-moved="models.lists.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item">
                {{item.type}}
            </li>
        </ul>

        <div>
            <pre class="code">{{modelAsJson}}</pre>
        </div->

        <div-- dnd-list="models.lists" class="content" ng-repeat="item in models.lists"
             dnd-draggable="item"
             dnd-moved="models.lists.splice($index, 1)"
             dnd-effect-allowed="move"
             dnd-selected="models.selected = item" ng-include="get_content_tpl(item.type)">
        </div-->

        <h3 class="ui dividing header"></h3>

        <button class="ui icon button teal labeled" type="submit">
            <i class="save icon"></i>
            Guardar
        </button>

    </form>
</div>
