<div class="has-footer" ui-view></div>

<!-- Footer -->
<div class="ui bottom attached three steps" style="position:fixed; bottom: 0;">
  <a ui-sref="dashboard.event.configuration" ui-sref-active="active" class="step">
    <i class="settings icon"></i>
    <div class="content">
      <div class="title">Configuración</div>
      <div class="description">Información general del evento</div>
    </div>
  </a>
  <a ui-sref="dashboard.event.modules" ui-sref-active="active" class="step" ng-class="{'disabled': !currentEvent.valid.config}">
    <i class="cubes icon"></i>
    <div class="content">
      <div class="title">Módulos</div>
      <div class="description">Configuración de los módulos, ubicación en la App (menú principal, página principal)</div>
    </div>
  </a>
  <a ui-sref="dashboard.event.publication" ui-sref-active="active" class="step" ng-class="{'disabled': !currentEvent.valid.modules}">
    <i class="upload icon"></i>
    <div class="content">
      <div class="title">Publicación</div>
      <div class="description">Publica o pausa tu evento</div>
    </div>
  </a>
</div>
