<div class="modulos-disponibles">

  <div class="ui centered grid"  style="margin-top: 3em;">



      <div class="four wide column">
        <h3 class="ui header">
          Módulos Disponibles
        </h3>
        <div class="ui segment list-modulos">
          <p>Arrastra el modulo a la sección de la app donde quiere que aparezca; las páginas nuevas saldrán al final de la lista.</p>
          <div class="ui segment list-modulos">

            <div class="ui styled fluid accordion">
              <div class="title" ng-click="OpenPageForm = !OpenPageForm">
                <i class="dropdown icon"></i>
                Crear página
              </div>
              <div class="content" ng-class="{'active': OpenPageForm}">
                <form name="NewPageForm" class="ui form" ng-submit="newPage(pageName)" novalidate>
                  <div class="field">
                    <label>Nombre</label>
                    <input type="text" ng-model="pageName" required to-null>
                  </div>
                  <div class="field">
                    <button type="submit" class="ui button" ng-class="{'teal': NewPageForm.$valid}" ng-disabled="NewPageForm.$invalid">Crear</button>
                  </div>
                </form>
              </div>
            </div>

            <ul dnd-list="event.modules.availables" style="border: 1px solid lightgray;min-height: 20px;min-width: 100%;">
              <li ng-repeat="(key, item) in event.modules.availables" ng-class="{'selected': selected === item}"
                  dnd-draggable="item" dnd-moved="save($index, 'availables')" dnd-effect-allowed="move" dnd-selected="selected = item">
                <i class="Move icon item"></i> {{item.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="four wide column" >
        <div class=" ">
          <h3 class="ui header">
            Menú Lateral
          </h3>
          <div class="ui segment list-menu" >
            <div class="menu-lateral-seg">
              <div class="list-menu-usuario">
                <div class="img-content">
                </div>
                <div class="info-content">
                  Nombre del <br> Usuario
                </div>
              </div>
              <ul dnd-list="event.modules.menu" style="border: 1px solid lightgray;min-height: 20px;min-width: 100%;">
                <li ng-repeat="(key, item) in event.modules.menu" ng-class="{'selected': selected === item}"
                    dnd-draggable="item" dnd-moved="save($index, 'menu')" dnd-effect-allowed="move" dnd-selected="selected = item">
                  <a ui-sref="dashboard.event.module.{{item.state}}({page_id: item.id})">
                    {{item.name}}<i class="Edit icon item"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="menu-lateral-seg" >
              <div class="ico-sidebar">
                <i class="Sidebar icon item"></i>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="four wide column" >
        <div class="">
          <h3 class="ui header">
            Pagina Principal
          </h3>
          <div class="ui segment  list-taps">
            <div class="container-pag-principal">
              <div class="content-img-pag-principal">
                <img src="http://dummyimage.com/400x200/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
              </div>
              <div class="container-info-pag-principal">
                <div class="content-evento">Nombre del Evento</div>
                <div class="content-lugar">Lugar</div>
              </div>
            </div>
            <ul dnd-list="event.modules.tabs" style="border: 1px solid lightgray;min-height: 20px;min-width: 100%;">
              <li ng-repeat="(key, item) in event.modules.tabs" ng-class="{'selected': selected === item}"
                  dnd-draggable="item" dnd-moved="save($index, 'tabs')" dnd-effect-allowed="move" dnd-selected="selected = item">
                  <a ui-sref="dashboard.event.module.{{item.state}}({page_id: item.id})">
                    {{item.name}} <i class="Edit icon item"></i>
                    {{item.name}}<i class="Edit icon item"></i>
                  </a>
              </li>
            </ul>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>
