
<div class="publicacion ">
   <div class="ui centered grid">
      <div class="twelve wide column">

         <div class="ui grid">
            <div class="sixteen wide column">
               <h3 class="ui header">
                  Publicación de Eventos
               </h3>
               <p>Publica o despublica tu evento deslizando el boton, los eventos no publicados no saldran en la aplicación</p>
            </div>
         </div>

         <div class=" ui grid container-publicado">
            <div class="eleven wide column publicado">
               <p>NO PUBLICADO <br> <span>Evento no <br> publicado*</span></p>
               <div class="btn-toggle">
                  <div class="ui toggle checkbox">
                     <input type="checkbox" name="public" ng-model="settings.status" ng-change="update_status()">
                     <label><p>EVENTO <br> PUBLICADO</p></label>
                  </div>
               </div>
            </div>
            <div class="five wide column container-asistentes" ng-if>
               <div class="content-asistentes">
                  <div class="asistentes">
                     <div class="ui grid">
                        <div class="eight wide column">
                           <span>Asistentes</span>
                        </div>
                        <div class="eight wide column">
                           <h2>15 - 1000</h2>
                        </div>
                     </div>
                  </div>
                  <div class="disponibles">
                     <div class="ui grid">
                        <div class="eight wide column">
                           <span>Usuarios<br>Disponibles</span>
                        </div>
                        <div class="eight wide column">
                           <h2>850</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="compra">Comprar Usuarios</div>
            </div>
         </div>

         <div class=" historial" style="padding-top: 50px;">
            <div class="sixteen wide column">
               <div class="container-historial">
                  <div class="ui header conten-title">Historial Acciones</div>
                  <ul>
                     <li class="content-historial">
                        <div class="content-evento">Evento Publicado</div>
                        <div class="content-date">15 / 03 / 2016 14:34 pm</div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>


      </div>
   </div><!--/grid-->
</div>
