<section>

  <form name="newsForm" class="ui form" ng-submit="save(newsForm.$valid)">
    <div class="field">
      <label>Título</label>
      <input type="text" name="name" ng-model="notice.titulo" required to-null>
    </div>

    <div class="field">
      <div class="ui">
        <input type="checkbox" ng-model="notice.push">
        <label>Enviar notificacion tipo push</label>
      </div>
    </div>

    <div class="field" ng-if="notice.push">
      <div class="ui fluid input">
        <label>Seleccione la seccion donde se debe llevar al usuario al hacer "click" en la notificacion:</label>
        <select class="ui dropdown" ng-model="notice.state">
          <option ng-repeat="(id, stat) in states" value="{{id}}">{{stat.nombre}}</option>
        </select>
      </div>
    </div>

    <div class="field" ng-if="notice.push">
      <label>Contenido push: (sin etiquetas html)</label>
      <textarea ng-model="notice.pushcontent"></textarea>
    </div>

    <upload-imagen modelo="notice.image" ancho="400" alto="225"></upload-imagen>

    <div class="field">
      <label>Resumen (se muestra en el feed de noticias)</label>
      <textarea ng-model="notice.resumen"></textarea>
    </div>

    <div class="field">
      <label>Contenido (se muestra en el detalle de la notica)</label>
      <div class="termsArea">
        <div text-angular ng-model="notice.contenido"></div>
      </div>
      <!--<div class="contenteditable" ng-bind-html="notice.contenido | trustAsHTML" contenteditable="true" ng-model="notice.contenido" to-null></div>-->
    </div>

    <h4 class="ui dividing header"></h4>

    <button class="ui icon button teal labeled" type="submit">
      <i class="save icon"></i>
      Guardar
    </button>
  </form>

</section>
