<div class="ui secondary menu inverted is-submenu">
  <div class="header item"><a ui-sref-active="active" ui-sref="dashboard.event.module.news.list">Noticias</a></div>
  <div class="right menu">
    <div class="item">
      <div class="ui button small icon right labeled teal" ng-click="window(true)">
        Nueva Noticia<i class="plus icon"></i>
      </div>
    </div>
  </div>
</div>


<div class="ui middle aligned divided list">
  <div class="item" ng-repeat="(key, notice) in news">

    <div class="right floated content">
      <button class="ui icon button" ui-sref="dashboard.event.module.news.detail({id_notice: key})">
        <i class="edit icon"></i>
      </button>
      <button class="ui icon button" ng-click="remove(key)">
        <i class="trash icon"></i>
      </button>
    </div>

    <div class="content">
      <div class="header">
        <a ui-sref="dashboard.event.module.news.detail({id_notice: key})" class="link black">
          {{notice.titulo}}
        </a>
      </div>

      <div class="description">
        <div class="font-mini">
          <b>ID</b> {{key}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup Creación -->
<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
  <div class="ui small modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
    <div class="header">
      <i class="icon plus"></i> Nueva noticia
    </div>
    <div class="content">
      <form class="ui form" name="form" ng-submit="create(title)" novalidate>
        <div class="ui fluid input">
          <input type="text" name="name" placeholder="Título" ng-model="title" required>
        </div>
        <br>
        <div>
          <div class="two fluid ui inverted buttons">
            <div class="ui red button" ng-click="window(false)">
              <i class="remove icon"></i>
              Cancelar
            </div>
            <button type="submit" class="ui green button" ng-disabled="form.$invalid">
              <i class="checkmark icon"></i>
              Crear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
