<section>
  
  <br>
  <div class="ui button fluid small icon right labeled teal" ng-click="window(true)">
    Nueva notificación <i class="plus icon"></i>
  </div>
  
  <div class="ui middle aligned divided list">
    <div class="item" ng-repeat="push in notifications">
      <div class="content">
        <div class="header">
          {{push.title}}
        </div>
        <div class="description">
          <div class="font-mini">
            {{push.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Popup Creación -->
  <div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui small modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
      <div class="header">
        <i class="icon plus"></i> Nueva noticia
      </div>
      <div class="content">
        <form class="ui form" ng-submit="create()" novalidate>
          <div class="ui fluid input">
            <input type="text" name="title" placeholder="Título" ng-model="form.title" required>
          </div>
          <br>
          <div class="ui fluid input">
            <textarea type="text" name="message" placeholder="Mensaje" ng-model="form.message" required></textarea>
          </div>
          <br>
          <div class="ui fluid input">
            <select class="ui dropdown" ng-model="form.state">
              <option ng-repeat="(id, stat) in states" value="{{id}}">{{stat.nombre}}</option>
            </select>
          </div>
          <br>
          <div ng-hide="confirm">
            <div class="two fluid ui inverted buttons">
              <div class="ui red button" ng-click="window(false)">
                <i class="remove icon"></i>
                Cancelar
              </div>
              <div class="ui green button" ng-disabled="form.$invalid" ng-click="confirm = true">
                <i class="checkmark icon"></i>
                Crear
              </div>
            </div>
          </div>
          <div ng-show="confirm">
            <h2>¿Está seguro?</h2>
            <div class="two fluid ui inverted buttons">
              <div class="ui red button" ng-click="window(false)">
                <i class="remove icon"></i>
                NO
              </div>
              <button type="submit" class="ui green button" ng-disabled="form.$invalid">
                <i class="checkmark icon"></i>
                SI
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</section>