<div class="ui secondary pointing menu"></div>

<div>
  <div class="ui grid internally celled five column doubling cards">
    <div class="three wide column">
      <div class="ui centered card" ng-click="managerModal(true)" style="cursor: pointer">
        <div class="image">
          <img src="images/create-event-img.png" class="image">
        </div>
      </div>
    </div>
    <!-- -->

    <div class="card" ng-repeat="event in events track by $index">
      <div class="image">
        <img ng-if="event.info.image" ng-src="{{event.info.image.fullsize}}">
        <img ng-if="!event.info.image" src="http://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <div class="header">{{event.info.name}}</div>
        <div class="meta">
          <span class="date" ng-if="event.info.dateFrom">{{event.info.dateFrom}}</span>
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <button class="ui button icon basic teal" ui-sref="dashboard.event.configuration({ event_id: event.$id })"><i class="icon edit"></i> Editar</button>
          <button class="ui button icon basic orange" ng-click="managerModal(true, event.$id, $index)"><i class="trash outline icon"></i> Borrar</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="text-align:center;">
  <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''">
    <div class="header" ng-show="modalType == 'create'">
      <i class="icon plus"></i>Crear nuevo evento
    </div>
    <div class="header" ng-show="modalType == 'delete'">
      <i class="icon trash"></i>Eliminar evento
    </div>

    <div class="content" ng-show="modalType == 'create'">
      <div class="ui inverted fluid input">
        <input type="text" placeholder="Nombre del evento" ng-model="eventName">
      </div>
    </div>
    <div class="content" ng-show="modalType == 'delete'">
      <p>Para elminar el evento es necesario que ingrese la palabra BORRAR en mayúsculas:</p><br>
      <div class="ui fluid input">
        <input type="text" placeholder="BORRAR" ng-model="eventDelete">
      </div>
    </div>

    <div class="content">
      <div class="ui negative message" ng-style="{display: error}">
        <i class="close icon" ng-click="error = 'none'"></i>
        <p>{{message}}</p>
      </div>
    </div>

    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui red basic inverted button" ng-click="managerModal(false)">
          <i class="remove icon"></i>
          Cancelar
        </div>
        <div class="ui green basic inverted button" ng-click="createEvent()" ng-show="modalType == 'create'">
          <i class="checkmark icon"></i>
          Crear
        </div>
        <div class="ui green basic inverted button" ng-click="deleteEvent()" ng-show="modalType == 'delete'">
          <i class="checkmark icon"></i>
          Borrar
        </div>
      </div>
    </div>
  </div>
</div>
