/*Commons
=====================================*/
.has-footer {
  padding-bottom: 115px;
}

.ui.menu.secondary.is-submenu {
  margin-right: -15px;
  margin-top: -15px;
  margin-left: -15px;
  margin-bottom: 0;
  background-color: #1b1c1d;
  /* background-color: #DEE0E2; */
}

.ui.menu.secondary.is-submenu.programme-type {
  margin-bottom: 15px;
}

.link.black {
  font-weight: bold;
  color: rgba(0,0,0,.7);
}

.etiqueta.orange {
  font-weight: 300;
  font-size: 80%;
  color: #F2711C;
}

.font-mini {
  font-size: 70%;
}

/* contenteditable
=====================================*/
.contenteditable {
  overflow-y: scroll;
  height: 12em;
  min-height: 8em;
  max-height: 24em;
  margin: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  padding: .78571429em 1em;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(34,36,38,.15);
  outline: 0;
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}

.contenteditable:focus {
  color: rgba(0,0,0,.95);
  border-color: rgba(34,36,38,.35);
  border-radius: .28571429rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
}
/* Programa
=====================================*/
.programme .ui.grid {
  background-color: #DEE0E2;
  margin-top: 0;
  margin-bottom: 0;
}

.programme > .ui.grid > .column {
  padding: 0;
}

.programme > .ui.grid > .column .ui.grid {
  margin: 0;
}

.programme > .ui.grid > .column .ui.grid > .column {
  padding-top: 0;
  padding-bottom: 0;
}

.programme .ui.grid>.column:not(.row) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Lista -------------------------------------- */
.ui.list>.item,
.ui.divided.list:not(.horizontal) .list>.item {
  padding: 0.5em;
}
.ui.divided.list:not(.horizontal) .list>.item {
  border-top: 1px solid #D6D6D6;
  min-height: 45px;
}

.ui.divided.list:not(.horizontal) .list>.item:first-child {
  border-top: none;
}

/* Interna programa: Speakers
=====================================*/
.column.full-height {
  min-height: 100%;
}

/*
POPUP
Centrar verticalemnte
=====================================*/
.ui.active.modal {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  overflow-y: auto;
}
/*
Crear Nuevo Evento
=====================================*/
.CrearNuevoEvento .field label.field {
  border: none;
  margin-right: 15px !important;
}

/*
Configuración evento
=====================================*/
.network-label {
  position: absolute;
  bottom: -2px;
  right: -8px;
}
/*
Modulos
=====================================*/
.modulos-disponibles {
  padding-bottom: 7em;
}
.modulos-disponibles .four.wide.column:nth-child(2),
.modulos-disponibles .four.wide.column:nth-child(3) {
  margin-top: 32px;
}
@media only screen and (max-width: 1366px) {
  .modulos-disponibles .four.wide.column:nth-child(2),
  .modulos-disponibles .four.wide.column:nth-child(3) {
    margin-top: 51px;
  }
}
.modulos-disponibles ul {
  padding: 0;
  border: none !important;
}
.modulos-disponibles ul li {
  list-style: none;
  padding: 12px 12px;
  border-bottom: 1px solid #DCDCDC;
  color: #8a8a8c;
}
.modulos-disponibles a {
  text-decoration: none;
  color: #8a8a8c;
}
.modulos-disponibles i {
  float: right;
  color: #000000;
  font-size: 20px;
}
.modulos-disponibles .ui.header {
  font-size: 20px;
}
.modulos-disponibles .ui.header::after {
  content: " ";
  display: block;
  width: 10%;
  height: 1px;
  background-color: #000;
  margin-top: 5px;
}
.modulos-disponibles .list-modulos {
  background-color: #f6f6f6;
}
.modulos-disponibles .list-taps,
.modulos-disponibles .list-menu {
  background-color: #ebebeb;
}
.modulos-disponibles .list-taps,
.modulos-disponibles .list-menu,
.modulos-disponibles .list-modulos {
  min-height: 64%;
}
.modulos-disponibles .list-menu {
  margin-bottom: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.modulos-disponibles .list-menu .menu-lateral-seg:nth-child(0n+1) {
  width: 89%;
  display: inline-block;
  vertical-align: top;
}
.modulos-disponibles .list-menu .menu-lateral-seg:nth-child(0n+1) .list-menu-usuario {
  padding: 20px;
  border-bottom: 1px solid #DCDCDC;
}
.modulos-disponibles .list-menu .menu-lateral-seg:nth-child(0n+1) .list-menu-usuario .img-content {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #c6c6c6;
  display: inline-block;
  vertical-align: middle;
}
.modulos-disponibles .list-menu .menu-lateral-seg:nth-child(0n+1) .list-menu-usuario .info-content {
  display: inline-block;
  vertical-align: middle;
  color: #c6c6c6;
}
.modulos-disponibles .list-menu .menu-lateral-seg:nth-child(2) {
  position: absolute;
  width: 10%;
  /* height: 100%; */
  background-color: #a2a2a3;
  display: inline-block;
  right: 0;
  bottom: 0;
  top: 0;
}
.modulos-disponibles .list-menu .menu-lateral-seg:nth-child(2) .ico-sidebar {
  width: 100%;
  height: 70px;
  background-color: #959596;
  position: relative;
}
.modulos-disponibles .list-menu .menu-lateral-seg:nth-child(2) .ico-sidebar i {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modulos-disponibles .list-taps .container-pag-principal {
  position: relative;
}
.modulos-disponibles .list-taps .container-pag-principal .container-info-pag-principal {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}
.modulos-disponibles .list-taps .container-pag-principal .container-info-pag-principal .content-evento {
  font-size: 21px;
}
.modulos-disponibles .list-taps .container-pag-principal .container-info-pag-principal .content-lugar {
  font-size: 18px;
}
.modulos-disponibles .list-taps .container-pag-principal .content-img-pag-principal {
  width: 100%;
  overflow-x: hidden;
}
.modulos-disponibles .list-taps .container-pag-principal .content-img-pag-principal img {
  width: 100%;
  height: auto;
}
/*
publicacion
=====================================*/
.publicacion {
  padding-top: 3em;
  padding-bottom: 7em;
  /*/container-publicado*/
  /*historial*/
}
.publicacion .ui.header {
  /*titulo*/
  font-size: 20px;
}
.publicacion .ui.header::after {
  content: " ";
  display: block;
  width: 10%;
  height: 1px;
  background-color: #000;
  margin-top: 5px;
}
.publicacion .container-publicado .publicado p {
  margin-right: 20px !important;
}
.publicacion .container-publicado .publicado p span {
  color: #A09B9B;
}
.publicacion .container-publicado .publicado p,
.publicacion .container-publicado .publicado div {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.publicacion .container-publicado .publicado div.btn-toggle input,
.publicacion .container-publicado .publicado div.btn-toggle label {
  vertical-align: middle;
}
.publicacion .container-publicado .publicado div.btn-toggle label p {
  position: relative;
  left: 79px;
}
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox input {
  width: 100%;
  height: 100%;
}
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox .box:before,
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox label:before {
  width: 9rem;
  height: 3.5rem;
  border-radius: 11px;
}
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox input:checked ~ .box:before,
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox input:checked ~ label:before {
  background-color: #000!important;
}
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox .box:after,
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox label:after {
  width: 4.5rem;
  height: 3.5rem;
  border-radius: 20%;
}
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox input:checked ~ .box:after,
.publicacion .container-publicado .publicado div.btn-toggle .ui.toggle.checkbox input:checked ~ label:after {
  left: 4.5rem;
}
.publicacion .container-publicado .container-asistentes .content-asistentes {
  background-color: #F5F2F2;
  padding: 10px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.publicacion .container-publicado .container-asistentes .content-asistentes .asistentes {
  text-align: center;
}
.publicacion .container-publicado .container-asistentes .content-asistentes .asistentes span,
.publicacion .container-publicado .container-asistentes .content-asistentes .asistentes h2 {
  display: inline-block;
  font-weight: lighter;
}
.publicacion .container-publicado .container-asistentes .content-asistentes .asistentes span {
  font-size: 17px;
  color: #A09B9B;
}
.publicacion .container-publicado .container-asistentes .content-asistentes .asistentes::after {
  content: " ";
  display: block;
  position: relative;
  width: 90%;
  height: 1px;
  left: 50%;
  transform: translate(-50%);
  background-color: #000;
  margin: 1em 0;
}
.publicacion .container-publicado .container-asistentes .content-asistentes .disponibles {
  text-align: center;
}
.publicacion .container-publicado .container-asistentes .content-asistentes .disponibles span,
.publicacion .container-publicado .container-asistentes .content-asistentes .disponibles h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: lighter;
}
.publicacion .container-publicado .container-asistentes .content-asistentes .disponibles span {
  font-size: 17px;
  color: #A09B9B;
  font-weight: lighter;
  text-align: left;
}
.publicacion .container-publicado .container-asistentes .compra {
  background-color: #4c4c4c;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin-top: 20px;
}
.publicacion .historial .container-historial {
  font-weight: lighter;
}
.publicacion .historial .container-historial .conten-title::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  margin: 1em 0;
  background-color: #000;
}
.publicacion .historial .container-historial ul {
  padding: 0;
  width: 99.5%;
  margin: 0 auto;
}
.publicacion .historial .container-historial ul li.content-historial {
  list-style: none;
  border-bottom: 1px solid #DCDCDC;
  padding: 1em 0;
}
.publicacion .historial .container-historial ul li.content-historial .content-evento {
  color: #000;
}
.publicacion .historial .container-historial ul li.content-historial .content-date {
  color: #A09B9B;
}
/*/publicacion*/
/*
module-intern
=====================================*/
.module-intern {
  padding-bottom: 7em;
  /*/container-items*/
}
.module-intern .content-item-info a {
  position: relative;
  left: -30px;
  text-decoration: none;
  color: #000;
}
.module-intern .content-item-info a i {
  position: relative;
  top: 8px;
  font-size: 3em;
}
.module-intern .container-items {
  margin-top: .25em;
}
.module-intern .container-items .content-list-modules {
  /*/list-modules*/
}
.module-intern .container-items .content-list-modules .list-modules {
  background-color: #f6f6f6;
  border-radius: 5px;
}
.module-intern .container-items .content-list-modules .list-modules ul {
  padding: 0;
  margin-top: 0;
  border: none !important;
  padding-top: 15px;
}
.module-intern .container-items .content-list-modules .list-modules ul li {
  padding: 10px;
  list-style: none;
  padding: 12px 12px;
}
.module-intern .container-items .content-list-modules .list-modules ul li a {
  padding-left: 15px;
  color: #676767;
  text-transform: capitalize;
  font-size: 17px;
}
.module-intern .container-items .content-list-modules .list-modules ul li.active {
  background-color: #e4e4e4;
}
.module-intern .container-items .content-list-modules .list-modules ul li::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  margin: 1em 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.module-intern .content-data-modules .data-modules {
  position: relative;
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 15px;
  min-height: 735px;
}

/*
Terminos
 */
.termsWrapper {
  padding: 10px 50px 50px;
  min-height: 100%;
  height: auto;
}
.termsWrapper h2 {
  background: #F1F1F1;
  margin-bottom: 3rem;
  padding: 20px;
 

}
.termsWrapper .termsArea {
  width: 100%;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
  display: block;
}
.termsWrapper .buttonsave{
  padding: 10px;
  float: right;
}

/*
.termsWrapper .termsArea .ta-editor {
  margin-top: 20px;
  height: auto;
}
.termsWrapper input.ui.button.fluid.big.green {
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
}
.termsWrapper .termsArea .btn-group{
    display: inline-flex;
}
.termsWrapper .termsArea .btn{
    width: 60px;
    height: 30px;
    margin: 2px;
} */
.ta-hidden-input {
    width: 1px;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    overflow: hidden;
}

/* add generic styling for the editor */
.ta-root.focussed > .ta-scroll-window.form-control {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-scroll-window.form-control {
    position: relative;
    padding: 0;
}

.ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 300px;
    padding: 6px 12px;
}

.ta-editor:focus {
    user-select: text;
}

/* add the styling for the awesomness of the resizer */
.ta-resizer-handle-overlay {
    z-index: 100;
    position: absolute;
    display: none;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-info {
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: 1px solid black;
    background-color: #FFF;
    padding: 0 4px;
    opacity: 0.7;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-background {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    top: 5px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
    width: 10px;
    height: 10px;
    position: absolute;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl{
    top: 0;
    left: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr{
    top: 0;
    right: 0;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl{
    bottom: 0;
    left: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br{
    bottom: 0;
    right: 0;
    border: 1px solid black;
    cursor: se-resize;
    background-color: white;
}
html{
  font-size: 12px;
}

/*MODAL WALL*/
.ui.modal>.close{
  color: #353535;
  top: 0;
  right: 0;
}
.ui.modal>.content>.description{
  width: 100%;
}
.header .ui.image{
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.header .ui.image img{
    object-fit: cover;
    width: 100%;
}
.image-column, .header-info{
  padding: 10px 0;
}

/**
 * Gallery styles
 */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 25%;
  height: auto;
}

.gallery-item.add-image {
  cursor: pointer;
}

._gallery-item-image {
  padding: 10px;
}

._gallery-item-image ._imagen {
  position: relative;
}

._gallery-item-image ._imagen .before-upload {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0,0,0,.15);
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.gallery-image {
  position: relative;
}

.gallery-image .button-remove {
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 0;
  z-index: 10;
  line-height: 0.8;
}