<section>

    <form name="galleryForm" class="ui form" ng-submit="save(galleryForm.$valid)">
        <div class="field">
            <label>Título</label>
            <input type="text" name="name" ng-model="gallery.info.name" required to-null>
        </div>

        <h4 class="ui dividing header">Selecciona el día</h4>

        <div class="field" ng-if="ctrl.currentEvent.multiple">
            <div class="inline fields">
                <div class="field" ng-repeat="date in ctrl.currentEvent.dates">
                    <div class="ui">
                        <label>
                            <input type="radio" ng-model="gallery.info.date" ng-value="date">
                            {{date}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="ui dividing header">Imágenes</h4>

        <div class="gallery-container" style="margin: 0; list-style: none;">
            <div class="gallery-image gallery-item" ng-repeat="item in gallery.images">
                <button class="ui icon button orange button-remove" type="button" ng-click="removeImage($index)"><i class="remove icon"></i></button>
                <gallery-image modelo="item.img" ancho="450" alto="450"></gallery-image>
            </div>
            <div class="add-image gallery-item" ng-click="addImage()">
                <img src="images/add_img.png">
            </div>
        </div>

        <h4 class="ui dividing header"></h4>

        <button class="ui icon button teal labeled" type="submit">
            <i class="save icon"></i>
            Guardar
        </button>
    </form>

</section>
