<div class="termsWrapper">
	<h2>TÉRMINOS</h2>
	<div class="termsArea">
		<div text-angular ng-model="htmlVariable"></div>
	</div>
	<div class="buttonsave">
		<input type="submit" value="Guardar" class="ui button fluid big green" ng-click="saveTerms()"></div>
</div>
</div>