<div class="PduWrapper">
    <form name="Certs" class="ui form" ng-class="{'loading': sending}" ng-submit="save(Certs.$valid)" novalidate>
        <div class="ui secondary menu inverted is-submenu programme-type">
            <div class="header item">
                Certificados
            </div>
            <div class="right item">
                <div>
                    <button class="ui button small" ng-class="{'blue': isSelected('pdu')}" type="button" ng-click="selectTab('pdu')">
                        PDU's
                    </button>
                </div>

                <div>
                    <button class="ui button small" ng-class="{'blue': isSelected('asistencia')}" type="button" ng-click="selectTab('asistencia')">
                        Asistencia
                    </button>
                </div>

                <div>
                    <button class="ui icon button small teal labeled" type="submit">
                        Guardar<i class="save icon"></i>
                    </button>
                </div>
            </div>
        </div>

        <div ng-if="isSelected('pdu')" class="ui form">

            <h4 class="ui dividing header">Certificado de PDU's</h4>

            <upload-imagen modelo="certificado.pdu.header" ancho="1200" alto="300"></upload-imagen>

            <div class="field">
                <div class="two fields">
                    <div class="ui input field">
                        <input type="text" name="name" placeholder="CERTIFICA QUE:" ng-model="certificado.pdu.certifica" to-null>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Descripción (Ubicada abajo del nombre de la persona)</label>
                <textarea ng-model="certificado.pdu.description"></textarea>
            </div>
            
            <h4 class="ui dividing header">Pie de Página (Firma)</h4>

            <upload-imagen modelo="certificado.pdu.footer" ancho="500" alto="325"></upload-imagen>

        </div>

        <div ng-if="isSelected('asistencia')" class="ui form">

            <h4 class="ui dividing header">Certificado de Asistencia</h4>

            <upload-imagen modelo="certificado.asistencia.header" ancho="1200" alto="300"></upload-imagen>

            <div class="field">
                <label>Nombre del evento</label>
                <div class="two fields">
                    <div class="ui input field">
                        <input type="text" name="name" placeholder="El PMI Bogotá Colombia Chapter" ng-model="certificado.asistencia.certifica" to-null>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Descripción</label>
                <textarea ng-model="certificado.asistencia.description"></textarea>
            </div>

            <h4 class="ui dividing header">Pie de Página (Firma)</h4>

            <upload-imagen modelo="certificado.asistencia.footer" ancho="500" alto="325"></upload-imagen>

        </div>

    </form>
</div>