<!-- Menu Principal -->
<div class="ui inverted menu">
  <div class="item">
    <img src="images/LogoProvisional.svg">
  </div>
  <a class="item" ui-sref-active="active" ui-sref="dashboard.events">
    Eventos
  </a>
  <a class="item" ui-sref-active="active" ui-sref="dashboard.streaming">
    Videos
  </a>
  <a class="item" ui-sref-active="active" ui-sref="dashboard.faqs">
    FAQS
  </a>
  <a class="item" ui-sref-active="active" ui-sref="dashboard.users">
    Usuarios
  </a>
  <a class="item" ui-sref-active="active" ui-sref="dashboard.checkin">
    Checked in
  </a>
  <a class="item" ui-sref-active="active" ui-sref="dashboard.terminos">
    Terminos
  </a>
  <div class="right menu">
    <div class="item">
      <img class="ui avatar image" src="images/square-image.png">
      <span>Username</span>
    </div>
    <div class="item">
      <a class="ui teal button" ui-sref-active="active" ui-sref="dashboard.settings">Configuración</a>
    </div>
  </div>
</div>

<!-- views -->
<div ui-view></div>
