<form name="PageEdit" class="ui form" ng-class="{'loading': sending}" ng-submit="saveSession(PageEdit.$valid)" novalidate>

  <h4 class="ui dividing header">Información general</h4>

  <div class="field">
    <label>Nombre</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="name" ng-model="page.name" required to-null>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Descripción</label>
    <textarea ng-model="page.description"></textarea>
  </div>

  <h4 class="ui dividing header"></h4>

  <button class="ui icon button teal labeled" type="submit">
    <i class="save icon"></i>
    Guardar
  </button>
</form>
