<div class="ui secondary menu inverted is-submenu programme-type">
    <div class="header item">{{ctrl.type.name}}</div>
</div>
<form name="ProgrammeEdit" class="ui form" ng-class="{'loading': sending}" ng-submit="saveSession(ProgrammeEdit.$valid)" novalidate>

    <div class="field">
        <label>Nombre</label>
        <div class="two fields">
            <div class="ui input field" ng-class="{'error': ProgrammeEdit.name.$error.required}">
                <input type="text" name="name" ng-model="session.info.name" required to-null>
            </div>
        </div>
    </div>

    <h4 class="ui dividing header">Horario</h4>

    <div class="field" ng-if="ctrl.currentEvent.multiple">
        <label for="date">Selecciona el día</label>
        <div class="inline fields">
            <div class="field" ng-repeat="date in ctrl.currentEvent.dates">
                <div class="ui">
                    <label>
                        <input type="radio" ng-model="session.info.date" ng-value="date" required>
                        {{date}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="fields">
        <div class="eight wide field">
            <label for="hourFrom">Hora inicio</label>
            <select class="ui compact selection dropdown"
                    ng-class="{'error': ProgrammeEdit.hourFrom.$error.required}"
                    name="hourFrom"
                    ng-options="hour as hour for hour in hours"
                    ng-model="session.info.hourFrom" required>
            </select>
        </div>

        <div class="eight wide field">
            <label for="hourTo">Hora final</label>
            <select class="ui compact selection dropdown"
                    ng-class="{'error': ProgrammeEdit.hourTo.$error.required}"
                    name="hourTo"
                    ng-options="hour as hour for hour in hours"
                    ng-model="session.info.hourTo" required>
            </select>
        </div>
    </div>

    <h4 class="ui dividing header">Información general</h4>

    <div class="fields">
        <div class="seven wide field">
            <label>Escenario</label>
            <select class="ui compact selection dropdown"
                    ng-class="{'error': ProgrammeEdit.place.$error.required}"
                    name="place"
                    ng-options="key as scenario.name for (key,scenario) in scenarios"
                    ng-model="session.info.place" required>
            </select>
        </div>
        <div class="nine wide field">
            <label>Agregar escenario / configuración</label>
            <div class="ui action input">
                <input type="text" placeholder="e.g Pabellón 1" ng-model="formScenario.name" to-null>
                <div type="button" class="ui button icon teal" ng-click="newScenario()"><i class="icon check"></i></div>
                <a ui-sref="dashboard.event.module.scenarios" class="ui button icon black"><i class="setting icon"></i></a>
            </div>
        </div>
    </div>

    <div class="field">
        <label>Descripción (opcional)</label>
        <textarea ng-model="session.info.description"></textarea>
    </div>

    <h4 class="ui dividing header"></h4>

    <button class="ui icon button teal labeled" type="submit">
        <i class="save icon"></i>
        Guardar
    </button>
</form>
