<form name="ProgrammeEdit" class="ui form" ng-class="{'loading': sending}" ng-submit="saveSession(ProgrammeEdit.$valid)" novalidate>
    <div class="ui secondary menu inverted is-submenu programme-type">
        <div class="header item">
            {{ctrl.type.name}}
            <div class="ui tiny label orange" ng-if="!session.valid">Borrador</div>
        </div>
        <div class="right item">
            <div>
                <div class="ui button small grey" ng-class="{'blue': isSelected('general')}" ng-click="selectTab('general')">General</div>
                <div class="ui button small icon right labeled grey" ng-class="{'blue': isSelected('speakers')}" ng-click="selectTab('speakers')">Conferencistas<i class="unmute icon"></i></div>
                <div class="ui button small icon right labeled grey" ng-class="{'blue': isSelected('asistencia')}" ng-click="selectTab('asistencia')">Asistencia<i class="users icon"></i></div>
                <button class="ui icon button small teal labeled" type="submit">
                    Guardar<i class="save icon"></i>
                </button>
                <div ng-if class="ui button small icon right labeled grey" ng-class="{'blue': isSelected('docs')}" ng-click="selectTab('docs')">Documentos<i class="folder icon"></i></div>
            </div>
        </div>
    </div>

    <div ng-if="isSelected('general')" class="ui form">
        <ng-include src="'source/modules/programme/views/conference-tpl/general.tpl.html'"></ng-include>
    </div>
    <div ng-if="isSelected('speakers')">
        <ng-include src="'source/modules/programme/views/conference-tpl/speakers.tpl.html'"></ng-include>
    </div>
    <div ng-if="isSelected('docs')" class="ui form">
        <ng-include src="'source/modules/programme/views/conference-tpl/docs.tpl.html'"></ng-include>
    </div>
    <div ng-if="isSelected('asistencia')" class="ui form">
        <ng-include src="'source/modules/programme/views/conference-tpl/asistencia.tpl.html'"></ng-include>
    </div>
</form>
