<section class="programme">
    <div class="ui secondary menu inverted is-submenu">
        <div class="header item">Programa</div>
        <div class="right item">
            <div>
                <div class="ui button small icon right labeled teal" ng-click="addSession()">
                    Nueva sesion<i class="unmute icon"></i>
                </div>

                <a class="ui button small icon right labeled blue" ui-sref="dashboard.event.module.scenarios">
                    Escenarios<i class="flag icon"></i>
                </a>
                <a class="ui button small icon right labeled blue" ui-sref="dashboard.event.module.types">
                    Tipos de sesion<i class="bookmark icon"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <div class="ui grid">
        <div class="sixteen wide column" ng-if="currentEvent.multiple">
            <div class="ui equal width grid">
                <div class="column">
                    <div class="ui tiny button fluid compact" ng-class="{'teal': isSelected('ViewAll')}" ng-click="selectPanel('ViewAll')">
                        Todo
                    </div>
                </div>
                <div class="column" ng-repeat="date in currentEvent.dates">
                    <div class="ui tiny button fluid compact" ng-class="{'teal': isSelected(date)}" ng-click="selectPanel(date)">
                        {{date | limitTo: 6}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui text menu">
        <div class="header item">Ordernar Por</div>
        <a class="item" ng-class="{'active': !settings.sort}" ng-click="setFilter(false)">
            <i class="icon clock"></i>
            Hora
        </a>
        <a class="item" ng-class="{'active': settings.sort}" ng-click="setFilter(true)">
            <i class="icon flag"></i>
            Escenario
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Buscar..." ng-model="search.info.name">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Panels: LOS OBJECTOS SIN FECHA NO SE MUESTRAN  -->
    <div class="ui middle aligned divided list" ng-repeat="(key, group) in programme | groupBy: 'info.date'" ng-if="key !== 'undefined'" ng-show="isSelected(key)">
        <div class="item" ng-repeat="(key, place) in group | groupBy: 'info.place'" ng-if="settings.sort">
            <div class="header">{{scenarios[key].name | uppercase}}</div>
            <div class="list">
                <div class="item" ng-repeat="(key, session) in place | orderBy: 'info.hourFrom' | filter:search" ng-include="tpl.teaser"></div>
            </div>
        </div>

        <div class="item" ng-repeat="(key, session) in group | orderBy: 'info.hourFrom' | filter:search" ng-if="!settings.sort" ng-include="tpl.teaser"></div>
    </div>

    <!-- Panel: ViewAll -->
    <div class="ui middle aligned divided list" ng-if="isSelected('ViewAll')">
        <!-- View: by scenario -->
        <div class="item" ng-repeat="(key, place) in programme | groupBy: 'info.place'" ng-if="settings.sort">
            <div class="header">{{scenarios[key].name | uppercase}}</div>
            <div class="list">
                <!-- usando directiva ng-include para insertar el teaser -->
                <div class="item" ng-repeat="(key, session) in place | orderBy: 'info.hourFrom' | filter:search " ng-include="tpl.teaser"></div>
            </div>
        </div>
        <!-- View: by hour -->
        <div class="item" ng-repeat="(key, session) in programme | toArray: true | orderBy: 'info.hourFrom' | filter:search" ng-if="!settings.sort" ng-include="tpl.teaser"></div>
    </div>
    <!-- Popup Creación -->
    <div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
        <div class="ui indeterminate text loader" ng-if="loading">Creando sesion</div>
        <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
            <div class="header">
                <i class="icon plus"></i>Crear sesion
            </div>
            <div class="content">
                <form name="newProgramme" class="ui form" ng-submit="create(newProgramme.$valid)" novalidate>
                    <div class="ui fluid input">
                        <input type="text" name="name" placeholder="Nombre de tu sesion" ng-model="form.info.name" required>
                        <p class="ui warning message" ng-show="newProgramme.name.$invalid && !newProgramme.name.$pristine">El nombre es requerido.</p>
                    </div>

                    <div class="">
                        <div class="two fluid ui inverted buttons">
                            <div class="ui red basic inverted button" ng-click="close()">
                                <i class="remove icon"></i>
                                Cancelar
                            </div>
                            <button type="submit" class="ui green basic inverted button" ng-disabled="newProgramme.$invalid">
                                <i class="checkmark icon"></i>
                                Crear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
