<div class="ui secondary menu inverted is-submenu">
    <div class="header item">
        Escenarios
        <div class="font-mini" ng-if="trash">&nbsp;- Papelera</div>
    </div>
    <div class="right item">
        <div ng-init="trash = false">
            <div class="ui button small icon right labeled teal" ng-click="modal = true" ng-hide="trash">
                Nuevo Escenario<i class="plus icon"></i>
            </div>
            <div class="ui button small icon right labeled orange" ng-click="trash = true" ng-hide="trash">
                Ver papelera<i class="trash icon"></i>
            </div>
            <div class="ui button small icon right labeled teal" ng-click="trash = false" ng-show="trash">
                Ver escenarios<i class="flag icon"></i>
            </div>
        </div>

    </div>
</div>

<!-- Listado creados -->
<div class="ui middle aligned divided list" ng-if="!trash">

    <div class="item" ng-if="noData">
        <i class="middle aligned icon flag"></i>
        <div class="content">
            No tienes escenarios creados
        </div>
    </div>

    <div class="item" ng-repeat="(key,scenario) in scenarios" ng-if="!scenario.trash">
        <div class="right floated content">
            <div class="ui icon button" ng-click="edit(key)" ng-hide="isCheck(key)">
                <i class="edit icon"></i>
            </div>
            <div class="ui icon button" ng-click="save(key,scenario)" ng-show="isCheck(key)">
                <i class="save icon"></i>
            </div>
            <div class="ui icon button" ng-click="toTrash(key,scenario)">
                <i class="trash icon"></i>
            </div>
        </div>
        <i class="large middle aligned icon flag"></i>
        <div class="content">
            <span ng-hide="isCheck(key)">{{scenario.name}}</span>
            <div class="ui input" ng-show="isCheck(key)">
                <input type="text" ng-model="scenario.name" to-null>
            </div>
        </div>
    </div>

</div>

<!-- Listado papelera -->
<div class="ui middle aligned divided list" ng-if="trash">

    <div class="item" ng-repeat="(key,scenario) in scenarios" ng-if="scenario.trash">
        <div class="right floated content">
            <div class="ui button tiny teal" ng-click="set(key,scenario)">
                Sacar de palera
            </div>
            <div class="ui button tiny icon right labeled orange" ng-click="remove(key)">
                Eliminar<i class="trash icon"></i>
            </div>
        </div>
        <i class="large middle aligned icon flag"></i>
        <div class="content">
            <span ng-hide="isCheck(key)">{{scenario.name}}</span>
            <div class="ui input" ng-show="isCheck(key)">
                <input type="text" ng-model="scenario.name" to-null>
            </div>
        </div>
    </div>

</div>

<!-- Popup Creación -->
<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui indeterminate text loader" ng-if="loading">Creando escenario</div>
    <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
        <div class="header">
            <i class="icon plus"></i>Crear Escenario
        </div>
        <div class="content">
            <form name="NewScenario" class="ui form" ng-submit="create()" novalidate>
                <div class="ui fluid input">
                    <input type="text" name="name" ng-model="form.name" required>
                    <p class="ui warning message" ng-show="NewScenario.name.$invalid && !NewScenario.name.$pristine">El nombre es requerido.</p>
                </div>

                <div class="field">
                    <div class="">
                        <div class="two fluid ui inverted buttons">
                            <div class="ui red basic inverted button" ng-click="close()">
                                <i class="remove icon"></i>
                                Cancelar
                            </div>
                            <button type="submit" class="ui green basic inverted button" ng-disabled="NewScenario.$invalid">
                                <i class="checkmark icon"></i>
                                Crear
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
