<div class="ui secondary menu inverted is-submenu">
    <div class="header item">
        Tipos de sesion
        <div class="font-mini" ng-if="trash">&nbsp;- Papelera</div>
    </div>
    <div class="right item">
        <div ng-init="trash = false">
            <div class="ui button small icon right labeled teal" ng-click="modal = true" ng-hide="trash">
                Nuevo tipo de sesion<i class="plus icon"></i>
            </div>
            <div class="ui button small icon right labeled orange" ng-click="trash = true" ng-hide="trash">
                Ver papelera<i class="trash icon"></i>
            </div>
            <div class="ui button small icon right labeled teal" ng-click="trash = false" ng-show="trash">
                Ver Tipos de sesion<i class="bookmark icon"></i>
            </div>
        </div>

    </div>
</div>

<!-- Listado creados -->
<div class="ui middle aligned divided list" ng-if="!trash">

    <div class="item" ng-if="noData">
        <i class="middle aligned icon bookmark"></i>
        <div class="content">
            No tienes Tipos de sesion creados
        </div>
    </div>

    <div class="item" ng-repeat="(key,st) in sts" ng-if="!st.trash">
        <div class="right floated content">
            <div class="ui icon button" ng-click="edit(key)" ng-hide="isCheck(key)">
                <i class="edit icon"></i>
            </div>
            <div class="ui icon button" ng-click="save(key,st)" ng-show="isCheck(key)">
                <i class="save icon"></i>
            </div>
            <div class="ui icon button" ng-click="toTrash(key,st)">
                <i class="trash icon"></i>
            </div>
        </div>
        <i class="large middle aligned icon bookmark"></i>
        <div class="content">
            <span ng-hide="isCheck(key)">{{st.name}}</span>
            <form class="ui form" ng-show="isCheck(key)" novalidate>
                <div class="fields">
                    <div class="five wide field">
                        <label>Nombre por defecto</label>
                        <input type="text" ng-model="st.name" to-null>
                    </div>
                    <div class="five wide field">
                        <label>Nombre plural</label>
                        <input type="text" ng-model="st.pluralname" to-null>
                    </div>
                    <div class="five wide field">
                        <label>Nombre singular</label>
                        <input type="text" ng-model="st.singularname" to-null>
                    </div>
                </div>
                <h4 class="ui dividing header">Opciones de menu</h4>

                <div class="ui segment">
                    <div class="field">
                        <div class="ui toggle checkbox" ng-class="{'checked' : st.menu}" ng-click="st.menu = !st.menu">
                            <input type="checkbox" name="menu" class="hidden" ng-model="st.menu">
                            <label>Mostrar en menu de la aplicacion?</label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<!-- Listado papelera -->
<div class="ui middle aligned divided list" ng-if="trash">

    <div class="item" ng-repeat="(key,st) in sts" ng-if="st.trash">
        <div class="right floated content">
            <div class="ui button tiny teal" ng-click="set(key,st)">
                Sacar de palera
            </div>
            <div class="ui button tiny icon right labeled orange" ng-click="remove(key)">
                Eliminar<i class="trash icon"></i>
            </div>
        </div>
        <i class="large middle aligned icon bookmark"></i>
        <div class="content">
            <span ng-hide="isCheck(key)">{{st.name}}</span>
            <div class="ui input" ng-show="isCheck(key)">
                <input type="text" ng-model="st.name" to-null>
            </div>
        </div>
    </div>

</div>

<!-- Popup Creación -->
<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui indeterminate text loader" ng-if="loading">Creando est</div>
    <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
        <div class="header">
            <i class="icon plus"></i>Crear tipo de sesion
        </div>
        <div class="content">
            <form name="Newst" class="ui form" ng-submit="create()" novalidate>
                <div class="ui fluid input">
                    <input type="text" name="name" placeholder="" ng-model="form.name" required>
                    <p class="ui warning message" ng-show="Newst.name.$invalid && !Newst.name.$pristine">
                        El nombre es requerido.
                    </p>
                </div>

                <div class="field">
                    <div class="">
                        <div class="two fluid ui inverted buttons">
                            <div class="ui red basic inverted button" ng-click="close()">
                                <i class="remove icon"></i>
                                Cancelar
                            </div>
                            <button type="submit" class="ui green basic inverted button" ng-disabled="Newst.$invalid">
                                <i class="checkmark icon"></i>
                                Crear
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
