<div class="_coverPelicula" ng-if="">
    <h4 class="ui dividing header">Imagen</h4>
    <div class="_imagen">

        <button class="ui compact labeled icon button blue" ng-if="!modelo[propiedadimagen]"
                ngf-resize="{width: ancho, height: alto, centerCrop: true}"
                ngf-select="upload($files,propiedadimagen,modelo)" ngf-multiple="false">
            <i class="upload icon"></i>
            Agregar Imagen
        </button>

        <div class="_cover" ng-if="modelo[propiedadimagen]">
            <img ng-src="{{modelo[propiedadimagen]}}" class="ui medium rounded image">
            <br>
        </div>

        <div ng-if="modelo[propiedadimagen]">
            <button class="ui compact labeled icon button blue"
                    ngf-resize="{width: ancho, height: alto, centerCrop: true}"
                    ngf-select="upload($files,propiedadimagen)"
                    ngf-multiple="false">
                <i class="upload icon"></i>
                Cambiar
            </button>
            <button type="button" class="ui compact labeled icon button orange" ng-click="deleteImg(propiedadimagen)">
                <i class="trash icon"></i>
                Borrar
            </button>
        </div>

    </div>
</div>

<img class="ui top aligned tiny image" ng-src="{{(modelo[propiedadimagen]) ? modelo[propiedadimagen] : 'images/square-image.png'}}">
<div style="display: inline-block">
    <p><small><em>Dimensiones: {{ancho}}px x {{alto}}px (se ajustara cualquier imagen a este tamaño automáticamente)</em></small></p>
    <button class="ui compact labeled icon button blue" ng-if="!modelo[propiedadimagen]"
            ngf-resize="{width: ancho, height: alto, centerCrop: true}"
            ngf-select="upload($files,propiedadimagen,modelo)" ngf-multiple="false">
        <i class="upload icon"></i>
        Agregar Imagen
    </button>
    <div ng-if="modelo[propiedadimagen]">
        <button class="ui compact labeled icon button blue"
                ngf-resize="{width: ancho, height: alto, centerCrop: true}"
                ngf-select="upload($files,propiedadimagen)"
                ngf-multiple="false">
            <i class="upload icon"></i>
            Cambiar
        </button>
        <!--
        <button type="button" class="ui compact labeled icon button orange" ng-click="deleteImg()">
            <i class="trash icon"></i>
            Borrar
        </button>
        -->
    </div>
</div>
