<section style="padding-top:20px;">

    <div class="ui form">

        <h4 class="ui dividing header">
            Editar patrocinador
            <div class="ui tiny label orange" ng-if="!sponsor.valid">Borrador</div>
        </h4>

        <form name="sponsorEdit" class="ui form" ng-class="{'loading': sending}" ng-submit="save(sponsorEdit.$valid)" novalidate>

            <div class="field">
                <label>Nombre</label>
                <div class="two fields">
                    <div class="ui input field" ng-class="{'error': sponsorEdit.name.$error.required}">
                        <input type="text" name="name" ng-model="sponsor.name" required to-null>
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Información general</h4>

            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="storeurl" ng-model="sponsor.links.stores">
                    <label>URL de aplicacion</label>
                </div>
            </div>

            <div class="fields" ng-if="sponsor.links.stores">
                <div class="eight wide field">
                    <label>URL Play Store (Android)</label>
                    <input type="text" name="urlandroid" placeholder="https://play.google.com/store/apps/details?id=com.mocion.heroesfest" ng-model="sponsor.links.android" to-null>
                </div>
                <div class="eight wide field">
                    <label>URL App Store (iOS)</label>
                    <input type="text" name="urlandroid" placeholder="https://itunes.apple.com/us/app/heroes-fest/id1154242509?mt=8" ng-model="sponsor.links.ios" to-null>
                </div>
            </div>

            <div class="field" ng-if="!sponsor.links.stores">
                <label>Url externa</label>
                <div class="two fields">
                    <div class="ui input field">
                        <input type="text" name="url" placeholder="http://mocionsoft.com" ng-model="sponsor.links.url" to-null>
                    </div>
                </div>
            </div>

            <div class="fields">
                <div class="seven wide field">
                    <label>Tipo de patrocinador</label>
                    <select class="ui compact selection dropdown"
                            ng-class="{'error': sponsorEdit.type.$error.required}"
                            name="type"
                            ng-options="key as type.name for (key,type) in types"
                            ng-model="sponsor.type">
                    </select>
                </div>
            </div>

            <div class="field" ng-if>
                <label>Descripción (opcional)</label>
                <textarea ng-model="sponsor.description"></textarea>
            </div>

            <upload-imagen modelo="sponsor" ancho="250" alto="250" propiedadimagen="logo"></upload-imagen>

            <h4 class="ui dividing header"></h4>

            <button class="ui icon button teal labeled" type="submit">
                <i class="save icon"></i>
                Guardar
            </button>

            <button class="ui icon button orange labeled" type="button" ng-click="remove()">
                <i class="trash icon"></i>
                Eliminar permanentemente
            </button>

        </form>

    </div>

</section>
