<section class="sponsors">

    <div class="ui secondary menu inverted is-submenu">
        <div class="header item">Patrocinadores</div>
        <div class="right item">
            <div>
                <a class="ui button small icon right labeled blue" ui-sref-active="teal" ui-sref="sponsorsList">
                    Listado<i class="list layout icon"></i>
                </a>
                <a class="ui button small icon right labeled blue" ui-sref-active="teal" ui-sref="sponsorTypes">
                    Tipos<i class="bookmark icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div ui-view></div>

</section>
