<div class="ui text menu">
    <a class="item" ng-click="add()">
        <i class="icon plus"></i>
        Nuevo Patrocinador
    </a>

    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Buscar..." ng-model="search">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>

<div class="ui middle aligned divided list">
    <div class="item" ng-repeat="item in items | toArray | orderBy: 'name' | filter:search">

        <div class="right floated content">
            <a class="ui icon button" ui-sref="sponsor({sponsor_id: item.$key})">
                <i class="edit icon"></i>
            </a>
            <a class="ui icon button" ng-click="remove(item.$key)">
                <i class="trash icon"></i>
            </a>
        </div>

        <img class="ui avatar image" ng-src="images/tom.jpg" ng-if="!item.logo">
        <img class="ui avatar image" ng-src="{{item.logo}}" ng-if="item.logo">

        <div class="content">
            <div class="header">
                <a ui-sref="sponsor({sponsor_id: item.$key})" class="link black">
                    {{item.name}} <span class="etiqueta orange" ng-if="!item.valid"> - en borrador</span>
                </a>
            </div>

            <div class="description">
                <div class="font-mini">
                    <b>ID</b> {{item.$key}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup Creación -->
<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui indeterminate text loader" ng-if="loading">Creando</div>
    <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
        <div class="header">
            <i class="icon plus"></i>Crear
        </div>
        <div class="content">
            <form name="newForm" class="ui form" ng-submit="create(newForm.$valid)" novalidate>
                <div class="ui fluid input">
                    <input type="text" name="name" placeholder="Nombre" ng-model="form.name" required>
                    <p class="ui warning message" ng-show="newForm.name.$invalid && !newForm.name.$pristine">El nombre es requerido.</p>
                </div>

                <div>
                    <div class="two fluid ui inverted buttons">
                        <div class="ui red basic inverted button" ng-click="close()">
                            <i class="remove icon"></i>
                            Cancelar
                        </div>
                        <button type="submit" class="ui green basic inverted button" ng-disabled="newForm.$invalid">
                            <i class="checkmark icon"></i>
                            Crear
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
