<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="field">
                <div class="ui toggle checkbox" ng-class="{'checked' : asistencia.config.active}" ng-click="asistencia.config.active = !asistencia.config.active">
                    <input type="checkbox" name="menu" class="hidden" ng-model="asistencia.config.active">
                    <label>Habilitar modulo de asistencia en esta sesión - {{session.info.name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui grid" ng-if="asistencia.config.active">
    <!-- Conferencistas seleccionados o de esta conferecnia -->
    <div class="sixteen wide column">
        <h3 class="ui header">
            <div class="content">
                Configuración
            </div>
        </h3>

        <div class="ui menu">
            <div class="item" style="min-width: 200px">
                <div class="ui labeled input">
                    <div class="ui label teal" style="line-height: 1.5;">
                        Número de Cupos
                    </div>
                    <input type="number" placeholder="0" ng-model="asistencia.config.slots.base">
                </div>
            </div>
            <div class="item">
                <div>Cupos disponibles <span class="ui olive circular label">{{asistencia.config.slots.available || 0}}</span></div>
            </div>
            <div class="right item">
                <div>Número de Asistentes <span class="ui brown circular label">{{asistencia.config.slots.confirmed || 0}}</span></div>
            </div>
        </div>
    </div>

    <!-- Conferencistas disponibles -->
    <div class="sixteen wide column">
        <h3 class="ui header">
            <div class="content">
                Asistentes
            </div>
        </h3>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>Fecha pre-registro</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha checked in</th>
                <th>Checked in</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in asistencia.users">
                <td>{{user.date | date}}</td>
                <td>
                    <h4 class="ui header">
                        <div class="content">
                            {{user.info.name}}
                            <div class="sub header">
                                C.C. {{user.info.cc}}
                            </div>
                        </div>
                    </h4>
                </td>
                <td>{{user.info.email}}</td>
                <td class="center aligned">
                    <span ng-if="user.checkin.date">{{user.checkin.date | date}}</span>
                    <i ng-if="!user.checkin.date" class="large gray remove icon"></i>
                </td>
                <td class="center aligned">
                    <i ng-if="user.checkin.checked" class="large green checkmark icon"></i>
                    <i ng-if="!user.checkin.checked" class="large gray remove icon"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
