<div class="field">
    <label>Nombre</label>
    <div class="two fields">
        <div class="ui input field" ng-class="{'error': ProgrammeEdit.name.$error.required}">
            <input type="text" name="name" ng-model="session.info.name" required to-null>
        </div>
    </div>
</div>
<h4 class="ui dividing header">Memorias</h4>
<upload-Pdf archivo="session.memoria" memoria="session.memoria_status"></upload-Pdf>

<h4 class="ui dividing header">PDU's</h4>

<div class="fields">
    <div class="three wide field">
        <label>Número de PDU's</label>
        <div class="ui input field">
            <input type="number" name="name" ng-model="session.pdu.value" to-null>
        </div>
    </div>
    <div class="four wide field">
        <label>Código PDU</label>
        <div class="ui input field">
            <input type="text" name="name" ng-model="session.pdu.code" to-null>
        </div>
    </div>
    <div class="four wide field">
        <label>Tipo de PDU</label>
        <div class="ui input field">
            <input type="text" name="name" ng-model="session.pdu.type" to-null>
        </div>
    </div>
</div>

<upload-imagen modelo="session.info.image" ancho="400" alto="250"></upload-imagen>

<h4 class="ui dividing header">Horario</h4>

<div class="field" ng-if="ctrl.currentEvent.multiple">
    <label>Selecciona el día</label>
    <div class="inline fields">
        <div class="field" ng-repeat="date in ctrl.currentEvent.dates">
            <div class="ui">
                <label>
                    <input type="radio" ng-model="session.info.date" ng-value="date" required>
                    {{date}}
                </label>
            </div>
        </div>
    </div>
</div>

<div class="ui segment">
    <div class="field">
        <div class="ui toggle checkbox" ng-class="{'checked' : session.info.allDay.value}" ng-click="session.info.allDay.value = !session.info.allDay.value">
            <input type="checkbox" name="menu" class="hidden" ng-model="session.info.allDay.value">
            <label>Todo el día</label>
        </div>
    </div>
</div>

<div class="field" ng-if="session.info.allDay.value">
    <label>Nombre para mostrar (por defecto: "Todo el día")</label>
    <div class="two fields">
        <div class="ui input field">
            <input type="text" name="name" ng-model="session.info.allDay.name" to-null>
        </div>
    </div>
</div>

<div class="fields" ng-if="!session.info.allDay.value">
    <div class="four wide field">
        <label for="hourFrom">Hora inicio</label>
        <select class="ui compact selection dropdown"
                ng-class="{'error': ProgrammeEdit.hourFromHours.$error.required}"
                name="hourFromHours"
                ng-options="hour as hour for hour in hours"
                ng-model="session.info.hourFrom.hour" required>
        </select>
    </div>
    <div class="four wide field">
        <label for="hourFrom">minutos</label>
        <select class="ui compact selection dropdown"
                ng-class="{'error': ProgrammeEdit.hourFromMinutes.$error.required}"
                name="hourFromMinutes"
                ng-options="minutes as minutes for minutes in minutes"
                ng-model="session.info.hourFrom.minutes" required>
        </select>
    </div>

    <div class="four wide field">
        <label for="hourToHours">Hora final</label>
        <select class="ui compact selection dropdown"
                ng-class="{'error': ProgrammeEdit.hourToHours.$error.required}"
                name="hourToHours"
                ng-options="hour as hour for hour in hours"
                ng-model="session.info.hourTo.hour">
        </select>
    </div>
    <div class="four wide field">
        <label for="hourToMinutes">minutos</label>
        <select class="ui compact selection dropdown"
                ng-class="{'error': ProgrammeEdit.hourToMinutes.$error.required}"
                name="hourToMinutes"
                ng-options="minutes as minutes for minutes in minutes"
                ng-model="session.info.hourTo.minutes">
        </select>
    </div>
</div>

<h4 class="ui dividing header">Información general</h4>

<div class="fields">
    <div class="seven wide field">
        <label>Asignar tipo de sesion</label>
        <select class="ui compact selection dropdown"
                ng-class="{'error': ProgrammeEdit.type.$error.required}"
                name="type"
                ng-options="key as type.name for (key,type) in Types"
                ng-model="session.info.type" required>
        </select>
    </div>
    <div class="nine wide field">
        <label>Nuevo Tipo de sesion / configuración</label>
        <div class="ui action input">
            <input type="text" placeholder="e.g Talleres" ng-model="formType.name" to-null>
            <div type="button" class="ui button icon teal" ng-click="newType()"><i class="icon check"></i></div>
            <a ui-sref="dashboard.event.module.types" class="ui button icon black"><i class="setting icon"></i></a>
        </div>
    </div>
</div>

<div class="fields">
    <div class="seven wide field">
        <label>Asignar escenario</label>
        <select class="ui compact selection dropdown"
                ng-class="{'error': ProgrammeEdit.place.$error.required}"
                name="place"
                ng-options="key as scenario.name for (key,scenario) in scenarios"
                ng-model="session.info.place">
        </select>
    </div>
    <div class="nine wide field">
        <label>Nuevo escenario / configuración</label>
        <div class="ui action input">
            <input type="text" placeholder="e.g Pabellón 1" ng-model="formScenario.name" to-null>
            <div type="button" class="ui button icon teal" ng-click="newScenario()"><i class="icon check"></i></div>
            <a ui-sref="dashboard.event.module.scenarios" class="ui button icon black"><i class="setting icon"></i></a>
        </div>
    </div>
</div>

<div class="field">
    <label>Descripción (opcional)</label>
    <textarea ng-model="session.info.description"></textarea>
</div>

<h4 class="ui dividing header"></h4>

<button class="ui icon button small teal labeled" type="submit">
    Guardar<i class="save icon"></i>
</button>
