<div class="ui internally celled grid">
    <!-- Conferencistas seleccionados o de esta conferecnia -->
    <div class="eight wide column full-height">
        <h3 class="ui header">
            <div class="content">
                Seleccionados
                <div class="sub header">Conferencistas seleccionados para <b>{{session.info.name}}</b></div>
            </div>
        </h3>
        <div class="ui middle aligned divided list">
            <div class="item" ng-repeat="(key,val) in session.speakers">
                <div class="right floated content">
                    <button type="button" class="circular ui icon basic button" ng-click="removeSpeaker(key)"><i class="close icon"></i></button>
                </div>
                <img class="ui avatar image" ng-src="{{speakers[key].info.img}}" ng-if="speakers[key].info.img">
                <img class="ui avatar image" ng-src="images/tom.jpg" ng-if="!speakers[key].info.img">
                <div class="content">
                    <div class="header">{{speakers[key].info.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Conferencistas disponibles -->
    <div class="eight wide column full-height">
        <h3 class="ui header">
            <div class="content">
                Disponibles
                <div class="sub header">Conferencistas disponibles</div>
            </div>
        </h3>
        <div class="ui text menu">
            <a class="item" ng-if>
                <i class="icon plus"></i>
                Nuevo
            </a>
            <a class="item" ui-sref="dashboard.event.module.speakers">
                <i class="icon setting"></i>
                Gestionar
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input style="width: 150px !important;" type="text" placeholder="Buscar..." ng-model="search.info.name">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui middle aligned selection divided list">
            <div class="item" ng-repeat="speaker in speakers | toArray:true | filter:search" ng-click="selectSpeaker(speaker.id)" ng-if="!session.speakers[speaker.id]">

                <img class="ui avatar image" ng-src="{{speaker.info.img}}" ng-if="speaker.info.img">
                <img class="ui avatar image" ng-src="images/tom.jpg" ng-if="!speaker.info.img">
                <div class="content">
                    <div class="header">{{speaker.info.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
