<div id="upload-wrapper" ngf-drop="upload($files)" ngf-select="upload($files)" ngf-drag-over-class="'dragover'">
  <div>
    <img class="ui middle aligned tiny image" src="images/icon-img.png">
    <span>Arrastra la imágen del evento para subirla o haz click sobre el cuadro</span>
  </div>
</div>
<div ngf-no-file-drop>
  Drag/Drop no es soportado en este navegador
</div>
