<div>
  <div ngf-drop="upload($files)" ngf-select="upload($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="application/pdf"ngf-pattern="'application/pdf'"
       class="ui segment very padded raised">
    <h2 class="ui center aligned header">Arrastre sus archivos aquí o click para seleccionarlos</h2>
  </div>
  <div ngf-no-file-drop>
    <button ngf-drop="upload($files)" ngf-multiple="true" accept="application/pdf"ngf-pattern="'application/pdf'"
            class="fluid ui right floated button icon basic green">
      Seleccionar archivos
    </button>
  </div>

  <div class="ui grid two column vertically divided middle aligned">
    <div class="row" style="padding: 0 0;" ng-repeat="(key, doc) in documents">
      <div class="column left aligned">{{doc.name}}</div>
      <div class="column right aligned ui icon buttons small">
        <button class="ui blue basic button" ng-click="managerModal(true, key)"><i class="edit icon"></i></button>
        <a class="ui green basic button" ng-href ="{{doc.url}}" target="_blank"><i class="download icon"></i></a>
        <button class="ui red basic button" ng-click="managerModal(false, key)"><i class="trash outline icon"></i></button>
      </div>
    </div>
  </div>

</div>

<!-- MODAL -->
<div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="text-align:center;">
  <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''">
    <div class="header" ng-show="modalType == 'edit'">
      <i class="icon edit"></i>Editar nombre de documento
    </div>
    <div class="header" ng-show="modalType == 'delete'">
      <i class="icon trash"></i>Esta seguro que desea eliminar este documento?
    </div>

    <div class="content" ng-show="modalType == 'edit'">
      <div class="ui inverted fluid input">
        <input type="text" placeholder="Nombre del documento" ng-model="documentName">
      </div>
    </div>
    <div class="content" ng-show="modalType == 'delete'">
      <p>Es importante que este documento no este asigando en ningún otro módulo, de lo contrario los documentos no podrán ser visibles.</p><br>
    </div>

    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui red basic inverted button" ng-click="managerModal()">
          <i class="remove icon"></i>
          Cancelar
        </div>
        <div class="ui green basic inverted button" ng-click="editDocument(documentId, documentName)" ng-show="modalType == 'edit'">
          <i class="checkmark icon"></i>
          Editar
        </div>
        <div class="ui green basic inverted button" ng-click="deleteEvent(documentId)" ng-show="modalType == 'delete'">
          <i class="checkmark icon"></i>
          Borrar
        </div>
      </div>
    </div>
  </div>
</div>
