<div class="CrearNuevoEvento" style="max-width:70%; margin:auto;">
    <form class="ui form" name="generalInfo" ng-submit="save()" ng-class="{'loading': sending}" novalidate>
        <h3 class="ui dividing header">Configuracion</h3>

        <div class="field">
            <label>Identificador de Google Analytics</label>
            <input type="text" placeholder="UA-55555555-5" ng-model="settings.analytics" to-null>
        </div>

        <div class="field">
            <label>Mail certificado de asistencia - PHP file</label>
            <input type="text" placeholder="" ng-model="settings.cert.asistencia" to-null>
        </div>

        <div class="field">
            <label>Mail certificado de PDU's - PHP file</label>
            <input type="text" placeholder="" ng-model="settings.cert.pdu" to-null>
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" ng-model="settings.register">
                <label>Incluir página de registro. (por defecto esta desactivada)</label>
            </div>
        </div>

        <button class="ui icon button teal labeled" type="submit">
            <i class="save icon"></i>
            Guardar
        </button>

    </form>
</div>
