<div class="right floated content">
    <a class="ui icon button teal" ui-sref="dashboard.event.module.editGallery({gallery_id: session.$key})">
        <i class="edit icon"></i>
    </a>
    <a class="ui icon button" ng-click="remove(session.$key)">
        <i class="trash icon"></i>
    </a>
</div>
<i class="middle aligned icon orange"
   ng-class="{'unmute': session.type === 'conference', 'coffee': session.type !== 'conference', 'teal': session.valid}"
   ng-if></i>

<div class="content">
    <a ui-sref="dashboard.event.module.editGallery({gallery_id: session.$key})" class="link black">
        {{session.info.name}}
    </a>

    <div style="font-size: 10px; color: gray;">{{session.$key}}</div>
</div>
