<div>

  <div class="ui styled fluid accordion">
    <div class="title" ng-click="newService=!newService">
      <i class="dropdown icon"></i>
      Crear nuevo servicio
    </div>
    <div class="content" ng-class="{'active':newService}">
      <form ng-submit="addService()" class="ui form">
        <div class="field">
          <label>Título</label>
          <input type="text" ng-model="form.title" required>
        </div>
        <div class="field">
          <label>Contenido</label>
          <textarea rows="3" ng-model="form.content" required></textarea>
        </div>
        <div class="field">
          <button type="submit" class="fluid ui inverted green button">Crear</button>
        </div>
      </form>
    </div>
  </div>

</div>
