<div style="max-width:70%; margin:auto; padding-top: 2rem;">

  <div class="ui styled fluid accordion">
    <div class="title" ng-click="newFaq=!newFaq">
      <i class="dropdown icon"></i>
      Crear nuevo faq
    </div>
    <div class="content" ng-class="{'active':newFaq}">
      <form ng-submit="addFaq()" class="ui form">
        <div class="field">
          <label>Pregunta</label>
          <input type="text" placeholder="Escribe la pregunta" ng-model="form.question" required>
        </div>
        <div class="field">
          <label>Respuesta</label>
          <textarea rows="2" placeholder="Escribe la respuesta" ng-model="form.answer" required></textarea>
        </div>
        <div class="field">
          <button type="submit" class="fluid ui inverted green button">Crear</button>
        </div>
      </form>
    </div>
  </div>

  <div class="ui divided items" ng-init="editable = {}">
    <div class="item" ng-repeat="(key, item) in faqs">
      <div class="content" ng-hide="editable[key]">
        <div class="header">
          <h4>{{item.question}}</h4>
        </div>
        <div class="description">
          <p>{{item.answer}}</p>
        </div>
        <div class="extra">
          <button class="ui right floated button icon basic orange" ng-click="deleteFaq(key)"><i class="trash outline icon"></i> Borrar</button>
          <button class="ui right floated button icon basic teal" ng-click="editable[key] = !editable[key]"><i class="icon edit"></i> Editar</button>
        </div>
      </div>
      <form class="content ui form" ng-show="editable[key]" ng-submit="save()">
        <div class="field">
          <input type="text" ng-model="faqs[key].question" required>
        </div>
        <div class="field">
          <textarea rows="2" ng-model="faqs[key].answer" required></textarea>
        </div>
        <div class="field">
          <button class="fluid ui right floated button icon basic green" ng-click="editable[key] = !editable[key]"><i class="checkmark icon"></i> Guardar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="ui center aligned segment" ng-if="faqs == null">
    <h5 class="ui grey header">No has creado ningún faq hasta ahora</h5>
  </div>

</div>
