<div class="right floated content">
    <a class="ui icon button teal" ui-sref="dashboard.event.module.editProgramme({programme_id: session.$key})">
        <i class="edit icon"></i>
    </a>
    <a class="ui icon button" ng-click="remove(session.$key)">
        <i class="trash icon"></i>
    </a>
</div>
<i class="middle aligned icon orange"
   ng-class="{'unmute': session.type === 'conference', 'coffee': session.type !== 'conference', 'teal': session.valid}"
   ng-if></i>

<div class="content">
    <a ui-sref="dashboard.event.module.editProgramme({programme_id: session.$key})" class="link black">
        {{session.info.name}} <span class="etiqueta orange" ng-if="!session.valid"> - en borrador</span>
    </a>

    <div class="description" ng-if="session.info.allDay.value">
        {{(session.info.allDay.name) ? session.info.allDay.name : 'Todo el día'}}
    </div>

    <div class="description" ng-if="!session.info.allDay.value && session.info.hourFrom">
        {{session.info.hourFrom.hour}}:{{session.info.hourFrom.minutes}}
        <span ng-if="session.info.hourTo"> - {{session.info.hourTo.hour}}:{{session.info.hourTo.minutes}}</span>
    </div>

    <div class="taxonomies" style="padding-top:.35rem;">
        <div class="ui mini blue label" ng-if="session.info.track">
            {{(tracks[session.info.track].singularname) ? tracks[session.info.track].singularname : tracks[session.info.track].name}}
        </div>
        <div class="ui mini yellow label" ng-if="session.info.type">
            {{(sessiontypes[session.info.type].singularname) ? sessiontypes[session.info.type].singularname : sessiontypes[session.info.type].name}}
        </div>
    </div>

    <div style="font-size: 10px; color: gray;">{{session.$key}}</div>
</div>
