<h4 class="ui dividing header">Redes sociales</h4>

<div class="field">

    <!-- botones -->
    <div style="position:relative;" class="ui circular icon button" ng-class="{'teal': isSelected($index)}" ng-repeat="network in Networks" ng-click="selectNetwork($index)">
        <i class="{{network.cmsicon}} icon"></i>
        <div class="floating ui network-label" ng-if="model[network.value] != undefined && !isSelected($index)">
            <i class="check circle teal icon"></i>
        </div>
    </div>
    <div style="height:10px;"></div>
    <!-- campos asociados -->
    <div class="ui action input" ng-if="isSelected($index)" ng-repeat="network in Networks">
        <input type="text" placeholder="{{network.name}}" ng-model="model[network.value]" to-null>
        <button type="button" class="ui icon teal button" ng-click="selectNetwork(null)">
            <i class="icon" ng-class="(model[network.value]) ? 'check' : 'remove'"></i>
        </button>
    </div>

</div>

<br>
