<div class="pdf-file">
    <div class="_imagen">

        <div class="loading" ng-if="loading">Subiendo PDF</div>
        <button class="ui compact labeled icon button blue" ng-if="!archivo.url"
                ngf-select="upload($files)" ngf-multiple="false" ng-disabled="loading">
            <i class="upload icon"></i>
            Subir PDF
        </button>

        <div ng-if="!loading">
            {{archivo.name}}
        </div>

        <div ng-if="archivo.url">
            <button class="ui compact labeled icon button blue"
                    ngf-select="upload($files)"
                    ngf-pattern="'application/pdf'"
                    ngf-multiple="false"
                    ng-disabled="loading">
                <i class="upload icon"></i>
                Cambiar
            </button>
            <button type="button" class="ui compact labeled icon button orange" ng-click="deletePDF()" ng-disabled="loading">
                <i class="trash icon"></i>
                Borrar
            </button>
        </div>

    </div>
</div>
