<div class="ui middle aligned center aligned grid login" style="background: #DADADA; height: 100%;">
  <div class="column" style="max-width: 450px;">
    <h2 class="ui black image header">
      <img src="images/LogoProvisional.svg" alt="logo" class="image">
      <div class="content">
        Registrate
      </div>
    </h2>
    <form class="ui large form" ng-submit="submit()">
      <!-- Campos -->
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="email" placeholder="Email" ng-model="form.email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" placeholder="Nombre" ng-model="form.name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" placeholder="Contraseña" ng-model="form.password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="building icon"></i>
            <input type="text" placeholder="Organización" ng-model="form.organization">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="legal icon"></i>
            <input type="text" placeholder="Nit o Cédula" ng-model="form.identification">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="marker icon"></i>
            <input type="text" placeholder="Dirección" ng-model="form.address">
          </div>
        </div>
        <button class="ui fluid large black button" type="submit">Ingresar</button>
        <div class="ui error message" ng-style="{display: error}">
          <p>{{message}}</p>
        </div>
        <div class="ui success message" ng-style="{display: success}">
          <p>{{message}}</p>
        </div>
      </div>
    </form>
  </div>
</div>
