<div class="ui segment">

  <div class="ui fluid input">
    <input type="text" ng-model="text" ng-change="save(text)" placeholder="Escribe aquí el #hashtag o el @usuario del evento.">
  </div>

  <br>

  <div class="ui small images" id="instagram"></div>

  <button class="circular ui right floated inverted icon green button" style="margin-top: -30px;" ng-click="more()">
    <i class="icon plus"></i>
  </button>

</div>
