<section class="survey">
  <!-- Header -->
  <div class="ui secondary menu inverted is-submenu">
    <div class="header item">{{poll.name}}</div>
    <div class="right item">
      <div>
        <div class="ui button small icon right labeled teal" ng-click="window(true)">
          Nueva pregunta<i class="help icon"></i>
        </div>
      </div>
      <div>
        <div class="ui button small icon right labeled teal" ui-sref="dashboard.event.module.surveyreport({idSurvey: id_poll})">
          Reportes <i class="pie chart icon"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Preguntas -->
  <div class="ui divided items">
    <div class="item" ng-repeat="(key, item) in poll.questions" ng-init="questionName[key] = false">
      <div class="content">
        <div class="header">
          <span ng-hide="questionName[key]">{{item.ask}}</span>
          <div class="ui form" ng-show="questionName[key]">
            <div class="fields">
              <div class="field"><input type="text" ng-model="poll.questions[key].ask" /></div>
              <button class="ui primary button" ng-click="saveQuestions(); questionName[key] = false;">Guardar</button>
            </div>
          </div>
        </div>
        <div class="meta">
          <span class="cinema">{{types[item.type].charAt(0).toUpperCase() + types[item.type].slice(1)}}</span>
        </div>
        <div class="description">
          <div class="ui segment">
            <div class="ui middle aligned divided list">
              <div class="item" ng-repeat="(id, answer) in item.answers" ng-init="editable[id] = false">
                <div class="middle aligned content">
                  <span ng-hide="editable[id]">{{answer}}</span>
                  <div class="ui form" ng-show="editable[id]">
                    <div class="fields">
                      <div class="field"><input  type="text" ng-model="poll.questions[key].answers[id]" /></div>
                    </div>
                  </div>
                </div>
                <div class="right floated content">
                  <div class="ui small buttons" ng-hide="editable[id]">
                    <button class="ui button" ng-click="editable[id] = true">Editar</button>
                    <button class="ui button" ng-click="removeAnswer(key, id, types[item.type])">Eliminar</button>
                  </div>
                  <div class="ui small buttons" ng-show="editable[id]">
                    <button class="ui button" ng-click="saveQuestions(); editable[id] = false;">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra">
          <div class="ui three attached buttons">
            <div class="fluid ui tiny positive button" ng-click="newAnswer(key, types[item.type])">
              <i class="plus icon"></i> Nueva respuesta
            </div>
            <div class="fluid ui tiny primary button" ng-click="questionName[key] = true;">
              <i class="edit icon"></i> Editar pregunta
            </div>
            <div class="fluid ui tiny negative button" ng-click="removeQuestion(key)">
              <i class="trash icon"></i> Borrar Pregunta
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup Creación -->
  <div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui small modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
      <div class="header">
        <i class="icon plus"></i> Nueva pregunta
      </div>
      <div class="content">
        <form class="ui form" name="form" ng-submit="create(ask, asktype)" novalidate>

          <div class="field">
            <label>Pregunta:</label>
            <input type="text" name="name" ng-model="ask" required>
          </div>

          <div class="field">
            <label>Tipo de pregunta:</label>
            <select class="ui dropdown" ng-model="asktype">
              <option ng-repeat="(id, type) in types" value="{{id}}">{{type.charAt(0).toUpperCase() + type.slice(1)}}</option>
            </select>
          </div>
          <br>
          <div>
            <div class="two fluid ui inverted buttons">
              <div class="ui red button" ng-click="window(false)">
                <i class="remove icon"></i>
                Cancelar
              </div>
              <button type="submit" class="ui green button" ng-disabled="form.$invalid">
                <i class="checkmark icon"></i>
                Crear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>