<section class="surveys">
  <div class="ui secondary menu inverted is-submenu">
    <div class="header item">Encuestas</div>
    <div class="right item">
      <div>
        <div class="ui button small icon right labeled teal" ng-click="window(true)">
          Nueva encuesta<i class="bar chart icon"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Buscar..." ng-model="search.name" />
        <i class="search icon"></i>
      </div>
    </div>
  </div>

  <div class="ui middle aligned divided list">
    <div class="item" ng-repeat="(key, poll) in surveys | toArray: true | filter:search">

      <div class="right floated content">
        <button class="ui circular primary icon button" ui-sref="dashboard.event.module.survey({idSurvey: poll.$key})">
          <i class="edit icon"></i>
        </button>
        <button class="ui circular positive icon button" ui-sref="dashboard.event.module.surveyreport({idSurvey: poll.$key})">
          <i class="pie chart icon"></i>
        </button>
        <div class="ui toggle checkbox">
          <input type="checkbox" name="public" ng-checked="poll.$key == surveyActive" ng-click="changeSurvey(poll.$key)">
          <label></label>
        </div>
      </div>

      <div class="content">
        <div class="header">
          <a ui-sref="dashboard.event.module.survey({idSurvey: poll.$key})" class="link black">
            {{poll.name}}
          </a>
        </div>

        <div class="description">
          <div class="font-mini">
            <b>ID</b> {{poll.$key}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup Creación -->
  <div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
    <div class="ui small modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
      <div class="header">
        <i class="icon plus"></i> Nueva encuesta
      </div>
      <div class="content">
        <form class="ui form" name="form" ng-submit="create(pollname)" novalidate>
          <div class="ui fluid input">
            <input type="text" name="name" placeholder="Nombre" ng-model="pollname" required>
          </div>
          <br>
          <div>
            <div class="two fluid ui inverted buttons">
              <div class="ui red button" ng-click="window(false)">
                <i class="remove icon"></i>
                Cancelar
              </div>
              <button type="submit" class="ui green button" ng-disabled="form.$invalid">
                <i class="checkmark icon"></i>
                Crear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>