<section class="surveys">
  <!-- Header -->
  <div class="ui secondary menu inverted is-submenu">
    <div class="header item">{{pollName}}</div>
  </div><br>

  <!-- Content -->
  <div class="ui container" ng-repeat="item in results">
    <h3>{{item.ask}}</h3>
    <label>{{item.type}}</label>
    <table class="ui celled table" ng-if="item.type == 'unica' || item.type == 'multiple'">
      <thead>
        <tr>
          <th>Respuestas</th>
          <th>Votos</th>
          <th>Porcentaje</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(id_answer, votes) in item.answers">
          <td>{{item.names[id_answer]}}</td>
          <td>{{votes}}</td>
          <td>{{item.porcents[id_answer].toFixed(1)}}%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th>{{item.total}}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    <table class="ui celled table" ng-if="item.type == 'orden'">
      <tbody>
        <tr>
          <td>
            {{item.answer}}
            <table class="ui inverted table" ng-repeat="answer in item.answers track by $index">
              <thead>
                <tr class="center aligned">
                  <th colspan="{{answer.votes.length+1}}">{{answer.answer}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Posición
                  </td>
                  <td ng-repeat="x in answer.votes track by $index">{{$index + 1}}</td>
                </tr>
                <tr>
                  <td>
                    Votos
                  </td>
                  <td ng-repeat="vote in answer.votes track by $index">{{vote}}</td>
                </tr>
                <tr>
                  <td>
                    Porcentaje
                  </td>
                  <td ng-repeat="per in answer.percentages track by $index">{{per}}%</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>


</section>