<section class="speakers" style="max-width:70%; margin:auto; padding-top: 2rem;">

    <div class="ui secondary menu inverted is-submenu">
        <div class="header item">Checked in</div>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Buscar..." ng-model="search.name">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ui middle aligned divided list">
        <div class="item" ng-repeat="user in users | orderBy: 'name' | filter:search">

            <img class="ui avatar image" ng-src="(user.image) ? user.image : 'images/tom.jpg'" >

            <div class="content">
                <div class="header">
                    {{user.name}}
                </div>
            </div>
        </div>
    </div>
</section>
