<div class="module-intern">
   <div class="ui centered grid" style="padding-left: 20px; padding-right: 20px;">
      <div class="sixteen wide column">

         <div class="ui grid container-items">
            <div class="three wide column content-list-modules">
               <span>Seleccione un modulo para editar su contenido.</span>
               <br><br>
               <div class="ui inverted vertical pointing menu">
                  <a class="item" ng-repeat="(key, item) in modules" ui-sref-active="active" ui-sref="dashboard.event.module.{{item.state}}({page_id: item.id})">
                     {{item.name}}
                  </a>
               </div>
            </div>

            <div class="thirteen wide column content-data-modules">
               <div class="data-modules">
                  <div ui-view></div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>
