<section>

    <div class="ui secondary menu inverted is-submenu programme-type">
        <div class="header item">
            Conferencista
            <div class="ui tiny label orange" ng-if="!speaker.valid">Borrador</div>
        </div>
    </div>

    <div ng-if="sending">
        <span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>
    </div>

    <div class="ui form">
        <form name="SpeakerEdit" class="ui form" ng-if="!sending" ng-submit="save(SpeakerEdit.$valid)" novalidate>

            <div class="field">
                <label>Nombre</label>
                <div class="two fields">
                    <div class="ui input field" ng-class="{'error': SpeakerEdit.name.$error.required}">
                        <input type="text" name="name" ng-model="speaker.info.name" required to-null>
                    </div>
                </div>
            </div>


            <div class="field">
                <label>Asignar Track</label>
                <select class="ui compact selection dropdown"
                        ng-class="{'error': ProgrammeEdit.track.$error.required}"
                        name="track"
                        ng-options="key as item.name for (key,item) in Tracks"
                        ng-model="speaker.info.track" required>
                </select>
            </div>

            <social-networks model="speaker.info.networks"></social-networks>

            <upload-imagen modelo="speaker.info.image" ancho="400" alto="400"></upload-imagen>

            <h4 class="ui dividing header">Información</h4>

            <div class="field">
                <label>Cargo</label>
                <div class="two fields">
                    <div class="ui input field" ng-class="{'error': SpeakerEdit.title.$error.required}">
                        <input type="text" name="title" ng-model="speaker.info.title" to-null>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Empresa / Organizacion</label>
                <div class="two fields">
                    <div class="ui input field" ng-class="{'error': SpeakerEdit.company.$error.required}">
                        <input type="text" name="company" ng-model="speaker.info.company" to-null>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Pais</label>
                <div class="two fields">
                    <div class="ui input field" ng-class="{'error': SpeakerEdit.country.$error.required}">
                        <input type="text" name="country" ng-model="speaker.info.country" to-null>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Estudios</label>
                <textarea ng-model="speaker.info.knowledge"></textarea>
            </div>

            <div class="field">
                <label>Enfoque</label>
                <textarea ng-model="speaker.info.focus"></textarea>
            </div>

            <div class="field">
                <label>Trayectoria</label>
                <textarea ng-model="speaker.info.trayectoria"></textarea>
            </div>

            <div class="field">
                <label>Hitos</label>
                <textarea ng-model="speaker.info.hitos"></textarea>
            </div>

            <div class="field">
                <label>Descripción</label>
                <textarea ng-model="speaker.info.description"></textarea>
            </div>

            <h4 class="ui dividing header"></h4>

            <button class="ui icon button teal labeled" type="submit">
                <i class="save icon"></i>
                Guardar
            </button>
        </form>

    </div>

</section>
