<section class="speakers">

    <div class="ui secondary menu inverted is-submenu">
        <div class="header item">Conferencista</div>
        <div class="right menu">
            <div class="item">
                <div class="ui button small icon right labeled teal" ng-click="addSpeaker()">
                    Nuevo Conferencista<i class="plus icon"></i>
                </div>
            </div>
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Buscar..." ng-model="search.info.name">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ui middle aligned divided list">
        <div class="item" ng-repeat="(key, speaker) in speakers | toArray | orderBy: 'info.name' | filter:search">

            <div class="right floated content">
                <a class="ui icon button" ui-sref="dashboard.event.module.editspeaker({speaker_id: speaker.$key})">
                    <i class="edit icon"></i>
                </a>
                <a class="ui icon button" ng-click="deleteSpeaker(speaker.$key)">
                    <i class="delete icon"></i>
                </a>
            </div>

            <img class="ui avatar image" ng-src="images/tom.jpg" ng-if="!speaker.info.image">
            <img class="ui avatar image" ng-src="{{speaker.info.image.fullsize}}" ng-if="speaker.info.image">

            <div class="content">
                <div class="header">
                    <a ui-sref="dashboard.event.module.editspeaker({speaker_id: speaker.$key})" class="link black">
                        {{speaker.info.name}} <span class="etiqueta orange" ng-if="!speaker.valid"> - en borrador</span>
                    </a>
                </div>

                <div class="description">
                    <div class="font-mini">
                        <b>ID</b> {{speaker.$key}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Creación -->
    <div class="ui dimmer modals" ng-class="(modal) ? 'visible active' : 'hidden'" style="position:fixed;">
        <div class="ui indeterminate text loader" ng-if="loading">Creando</div>
        <div class="ui basic modal" ng-class="(modal) ? 'visible active' : ''" ng-if="!loading">
            <div class="header">
                <i class="icon plus"></i>Crear
            </div>
            <div class="content">
                <form name="newSpeaker" class="ui form" ng-submit="create(newSpeaker.$valid)" novalidate>
                    <div class="ui fluid input">
                        <input type="text" name="name" placeholder="Nombre" ng-model="form.info.name" required>
                        <p class="ui warning message" ng-show="newSpeaker.name.$invalid && !newSpeaker.name.$pristine">El nombre es requerido.</p>
                    </div>

                    <div>
                        <div class="two fluid ui inverted buttons">
                            <div class="ui red basic inverted button" ng-click="close()">
                                <i class="remove icon"></i>
                                Cancelar
                            </div>
                            <button type="submit" class="ui green basic inverted button" ng-disabled="newSpeaker.$invalid">
                                <i class="checkmark icon"></i>
                                Crear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
