<div class="ui pointing menu">
    <a class="item" ng-class="{'active':isSelected('all')}" ng-click="SelectMenuItem('all')">
        Todos los Usuarios
    </a>
    <a class="item" ng-class="{'active':isSelected('paid')}" ng-click="SelectMenuItem('paid')">
        Usuarios Pagos
    </a>

    <div class="right menu">
        <a class="item" ng-class="{'active':isSelected('admin')}" ng-click="SelectMenuItem('admin')">
            Administradores
        </a>
        <a class="item" ng-class="{'active':isSelected('checkin')}" ng-click="SelectMenuItem('checkin')">
            Check-in charla
        </a>
        <a class="item" ng-class="{'active':isSelected('expositores')}" ng-click="SelectMenuItem('expositores')">
            Administrar Expositores
        </a>
    </div>
</div>

<section class="_listadoDeURL ui segment" ng-class="{'loading': data.loading}" ng-if="isSelected('all')">
    <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}" download="listUsers.csv">
        <i class="glyphicon glyphicon-new-window"></i> DESCARGAR LISTA </a>
    <table class="ui single line table selectable" export-csv="csv" separator=";">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(indice, item) in usuarios">
                <td>{{item.info.email}}</td>
                <td>{{item.info.name}}</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="ui segment" ng-class="{'loading': data.loading}" ng-if="isSelected('paid')">

    <div class="ui text menu">
        <div class="item">
            <ng-csv-import content="csv.content" material md-button-class="md-icon-button md-raised md-accent" header="csv.header" separator="csv.separator" result="csv.result" accept="csv.accept" callback="upload()"></ng-csv-import>
        </div>

        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input style="width: 150px !important;" type="text" placeholder="Buscar..." ng-model="search.info.name">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="item">
                <div class="ui transparent icon input">
                    <input style="width: 150px !important;" type="text" placeholder="email..." ng-model="search.info.email">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th class="center aligned">Tipo de asistente</th>
                <th class="center aligned">Realizo el Pago</th>
                <th class="center aligned">Checkeo Manual</th>
                <th class="center aligned">Enviar email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in data.users | orderBy: 'rol' | filter:search">
                <td>
                    <h4 class="ui header">
                        <div class="content">
                            {{user.info.name}}
                            <div class="sub header">
                                C.C. {{user.info.cc}}
                            </div>
                            <div class="sub header">
                                ID: {{user.$key}}
                            </div>
                        </div>
                    </h4>
                </td>
                <td>{{user.info.email}}</td>
                <td class="center aligned">
                    <div class="ui {{ types[user.info.type].color }} label" ng-if="types[user.info.type]">
                        {{ types[user.info.type].name }}
                    </div>
                </td>
                <td class="center aligned">
                    <i ng-if="user.rol === 'paid' " class="large green checkmark icon"></i>
                    <i ng-if="user.rol !== 'paid'" class="large gray remove icon"></i>
                </td>
                <td class="center aligned">
                    <button class="ui button" ng-class="(user.rol !== 'paid') ? 'teal' : 'grey'" ng-disabled="user.rol === 'paid'" ng-click="methods.check(user.$key, user.info.type, user.info.company, user.info.name, user.info.email, user.info.cc)">Pagó</button>
                </td>
                <td class="center aligned">
                    <button class="ui button teal" ng-click="methods.sendEmail(user.$key, user.info.name, user.info.email, user.info.cc)">Enviar</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section class="ui segment" ng-class="{'loading': data.loading}" ng-if="isSelected('checkin')">

    <div class="ui styled fluid accordion">
        <div class="title" ng-click="newFaq=!newFaq">
            <i class="dropdown icon"></i> Crear nuevo
        </div>
        <div class="content" ng-class="{'active':newFaq}">
            <form ng-submit="methods.addStaff(form, 'profe')" class="ui form">
                <div class="field">
                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre completo" ng-model="form.name" required>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" placeholder="email" ng-model="form.email" required>
                </div>
                <div class="field">
                    <label>Número de documento</label>
                    <input type="text" placeholder="Numero de documento" ng-model="form.documento" required>
                </div>
                <div class="field">
                    <button type="submit" class="fluid ui inverted green button">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Número de documento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in data.profes">
                <td>{{user.$key}}</td>
                <td>
                    <h4 class="ui header">
                        <div class="content">
                            {{user.info.name}}
                        </div>
                    </h4>
                </td>
                <td>
                    {{user.info.email}}
                </td>
                <td>
                    {{user.info.cc}}
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section class="ui segment" ng-class="{'loading': data.loading}" ng-if="isSelected('admin')">

    <div class="ui styled fluid accordion">
        <div class="title" ng-click="newFaq=!newFaq">
            <i class="dropdown icon"></i> Crear nuevo
        </div>
        <div class="content" ng-class="{'active':newFaq}">
            <form ng-submit="methods.addStaff(form, 'admin')" class="ui form">
                <div class="field">
                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre completo" ng-model="form.name" required>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" placeholder="email" ng-model="form.email" required>
                </div>
                <div class="field">
                    <label>Contraseña</label>
                    <input type="text" placeholder="Numero de documento" ng-model="form.documento" required>
                </div>
                <div class="field">
                    <button type="submit" class="fluid ui inverted green button">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in data.admins">
                <td>
                    <h4 class="ui header">
                        <div class="content">
                            {{user.info.name}}
                        </div>
                    </h4>
                </td>
                <td>{{user.$key}}</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="ui segment" ng-class="{'loading': data.loading}" ng-if="isSelected('expositores')">

    <div class="ui styled fluid accordion">
        <div class="title" ng-click="newFaq=!newFaq">
            <i class="dropdown icon"></i> Crear nuevo
        </div>
        <div class="content" ng-class="{'active':newFaq}">
            <form ng-submit="methods.addStaff(form, 'expositor')" class="ui form">
                <div class="field">
                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre completo" ng-model="form.name" required>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" placeholder="email" ng-model="form.email" required>
                </div>
                <div class="field">
                    <label>Contraseña</label>
                    <input type="text" placeholder="Numero de documento" ng-model="form.documento" required>
                </div>
                <div class="field">
                    <button type="submit" class="fluid ui inverted green button">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Número de documento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in data.expositores">
                <td>{{user.$key}}</td>
                <td>
                    <h4 class="ui header">
                        <div class="content">
                            {{user.info.name}}
                        </div>
                    </h4>
                </td>
                <td>
                    {{user.info.email}}
                </td>
                <td>
                    {{user.info.cc}}
                </td>
            </tr>
        </tbody>
    </table>

</section>