<div class="ui secondary menu inverted is-submenu">
  <div class="header item"><a ui-sref-active="active" ui-sref="dashboard.event.module.wall.list">Noticias</a></div>
  <div class="right menu">
    <div class="item">
      <div class="ui button small icon right labeled teal" ng-click="window(true)">
        Nueva Noticia<i class="plus icon"></i>
      </div>
    </div>
  </div>
</div>

