<div class="ui middle aligned center aligned grid login" style="background: #DADADA; height: 100%;">
  <div class="column" style="max-width: 450px;">
    <h2 class="ui black image header">
      <img src="images/LogoProvisional.svg" alt="logo" class="image">
      <div class="content">
        Ingresa a tu cuenta
      </div>
    </h2>
    <form name="formLogin" class="ui large form" ng-submit="submit()" novalidate>
      <!-- Campos -->
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="email" name="email" placeholder="Email" ng-model="form.email" required>
          </div>
        </div>
        <div class="field">
          <div class="ui input left icon">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Contraseña" ng-model="form.password" required>
          </div>
        </div>
        <button class="ui fluid large black button" type="submit" ng-disabled="formLogin.$invalid">Ingresar</button>
        <div class="ui error message" ng-style="{display: error}">
          <p>{{message}}</p>
        </div>
      </div>
    </form>
    <div class="ui message" ng-if>
      <a ui-sref="register">Registrarse</a>
    </div>
    <div class="ui message" ng-if>
      <a href ng-click="forgotPassword()">
        Olvido su contraseña?
      </a>
    </div>
  </div>
</div>
