<article>
    <div class="ui top attached menu">
        <a href="" class="item" ng-click="$ctrl.delete()">
            <i class="trash icon"></i>
        </a>
    </div>
    <div class="ui bottom attached segment">
        <div ng-include="$ctrl.getTpl()"></div>
    </div>
</article>