<div class="field">
    <div class="ui button small icon right labeled teal" ng-click="$ctrl.add_slide('video')">
        Video YouTube<i class="youtube play icon"></i>
    </div>
    <div class="ui button small icon right labeled teal" ng-click="$ctrl.add_slide('image')">
        Imagen<i class="photo icon"></i>
    </div>
</div>