<h3 class="ui dividing header">Slider</h3>

<div ng-include="$ctrl.config.tpl.bar"></div>

<section style="padding: 2rem 0">
    <slide-detail ng-repeat="slide in $ctrl.slides" slide="slide" on-delete="$ctrl.removeSlide(slide)"></slide-detail>
</section>