<ion-view title="Venues">

	<nav class="navbar navbar-default" style="padding-top: 50px">
		<div class="container-fluid">
			<button type="button" class="btn btn-primary navbar-btn"
					ng-click="ctrl.toggleFrom()">Nuevo Venue</button>
		</div>
	</nav>

	<div class="container-fluid">

		<!-- gregar venue -->
		<div class="row">

			<form>
				<div class="col-sm-3">

					<div class="form-group">
						<label class="control-label">Título:</label>
						<div>
							<input type="text" class="form-control"
								   ng-model="ctrl.form.name">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Direccion:</label>
						<div>
							<input type="text" class="form-control"
								   ng-model="ctrl.form.address">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Servicios:</label>
					</div>

					<div class="checkbox">
						<div ng-repeat="service in ctrl.services">
							<label>
								<input type="checkbox" ng-model="ctrl.form.services[service.val]"> {{service.name}}
							</label>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<label class="control-label">Imagen:</label>
						<div>

							<div class="row">
								<div class="col-sm-12">
									<img ng-src="{{ctrl.form.image}}" class="img-thumbnail" ng-if="ctrl.form.image">
								</div>
								<div class="col-sm-12">
									<p>550 x 366 Pixels</p>
								</div>
							</div>

							<button type="button" class="btn btn-primary"
									ngf-select ngf-change="ctrl.image($files)"
									ngf-multiple="false">
								Cargar Imagen
							</button>
							<button type="button" class="btn btn-danger"
									ng-if="ctrl.form.image"
									ng-click="ctrl.form.image = null">
								Eliminar Imagen
							</button>
						</div>
					</div>

					<hr>

					<button type="submit" class="btn btn-success" ng-click="ctrl.addVenue()">Guardar</button>

				</div><!-- /.col -->

				<div class="col-sm-5">
					<get-cords cords="ctrl.form.map"></get-cords>

					<div class="form-group" ng-if="ctrl.form.map.lat && ctrl.form.map.lng">
						<p class="help-block"><b>Lat:</b> {{ctrl.form.map.lat}} | <b>Lng:</b> {{ctrl.form.map.lng}} | <b>Zoom:</b> {{ctrl.form.map.zoom}}</p>
					</div>

				</div><!-- /.col -->

				<div class="col-sm-4">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="venue in ctrl.venues">
							<h4 class="list-group-item-heading">{{venue.name}}</h4>
							<p class="list-group-item-text">{{venue.address}}</p>
						</a>
					</div>
				</div><!-- /.col -->

			</form><!-- /.agregar venue -->
		</div><!-- /.row -->

	</div><!-- /.container -->
</ion-view>
