<form class="ui form" novalidate>
    <div class="ui grid">
        <div class="seven wide column">

            <!-- upload image -->
            <upload-imagen modelo="ctrl.form.image" ancho="550" alto="366"></upload-imagen>

            <h4 class="ui dividing header">Información general</h4>

            <div class="form-group">
                <label class="control-label">Título:</label>
                <div>
                    <input type="text" class="form-control"
                           ng-model="ctrl.form.name">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Direccion:</label>
                <div>
                    <input type="text" class="form-control"
                           ng-model="ctrl.form.address">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label">Servicios:</label>
            </div>
            <div class="checkbox">
                <div ng-repeat="service in ctrl.services">
                    <label>
                        <input type="checkbox" ng-model="ctrl.form.services[service.val]"> {{service.name}}
                    </label>
                </div>
            </div>

            <h4 class="ui dividing header"></h4>

            <button type="submit" class="ui button small icon labeled teal" ng-click="ctrl.addVenue()">
                Guardar <i class="save icon"></i>
            </button>

        </div><!-- /.col -->

        <div class="nine wide column">
            <get-cords cords="ctrl.form.map"></get-cords>

            <div class="form-group" ng-if="ctrl.form.map.lat && ctrl.form.map.lng">
                <p class="help-block"><b>Lat:</b> {{ctrl.form.map.lat}} | <b>Lng:</b> {{ctrl.form.map.lng}} | <b>Zoom:</b> {{ctrl.form.map.zoom}}</p>
            </div>

        </div><!-- /.col -->
    </div>
</form>
