<form class="ui form" novalidate>
    <div class="ui grid">
        <div class="seven wide column">

            <!-- upload image -->
            <upload-imagen modelo="ctrl.venue.image" ancho="550" alto="366"></upload-imagen>

            <h4 class="ui dividing header">Información general</h4>

            <div class="form-group">
                <label class="control-label">Título:</label>
                <div>
                    <input type="text" class="form-control"
                           ng-model="ctrl.venue.name">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Direccion:</label>
                <div>
                    <input type="text" class="form-control"
                           ng-model="ctrl.venue.address">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label>Como llegar: <input type="checkbox" ng-model="ctrl.venue.coordinates"></label><br/>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label">Servicios:</label>
            </div>
            <br>
            <div class="checkbox">
                <div ng-repeat="service in ctrl.services">
                    <label>
                        <input type="checkbox" ng-model="ctrl.venue.services[service.val]"> {{service.name}}
                    </label>
                </div>
            </div>

        </div><!-- /.col -->

        <div class="nine wide column">
            <get-cords cords="ctrl.venue.map"></get-cords>

            <div class="form-group" ng-if="ctrl.venue.map.lat && ctrl.venue.map.lng">
                <p class="help-block"><b>Lat:</b> {{ctrl.venue.map.lat}} | <b>Lng:</b> {{ctrl.venue.map.lng}} | <b>Zoom:</b> {{ctrl.venue.map.zoom}}</p>
            </div>

        </div><!-- /.col -->

        <div class="sixteen wide column">
            <div class="field">
                <label>Descripcion</label>
                <div class="contenteditable" ng-bind-html="ctrl.venue.description | trustAsHTML" contenteditable="true" ng-model="ctrl.venue.description" to-null></div>
            </div>
        </div>

        <div class="sixteen wide column">
            <h4 class="ui dividing header"></h4>

            <button type="submit" class="ui button small icon labeled teal" ng-click="ctrl.save()">
                Guardar <i class="save icon"></i>
            </button>

            <button type="submit" class="ui button small icon labeled orange" ng-click="ctrl.delete()">
                Borrar <i class="trash icon"></i>
            </button>
        </div>
    </div>
</form>
