<section class="sponsors">

    <div class="ui secondary menu inverted is-submenu">
        <div class="header item">Patrocinadores</div>
        <div class="right item">
            <div>
                <a class="ui button small icon right labeled blue" ui-sref-active="teal" ui-sref="dashboard.event.module.venue.create">
                    nuevo venue <i class="plus icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div style="padding-top: 15px;">
        <div class="ui grid">
            <div class="eleven wide column" ui-view="mainvenue" style="padding-top: 20px;"></div>
            <div class="five wide column" ui-view="sidebar" resize
                 style="background: white;"></div>
        </div>
    </div>
</section>
