<!-- listar venues -->
<div class="ui very relaxed list">
    <a class="item" ng-repeat="venue in ctrl.venues" ui-sref-active="active" ui-sref="dashboard.event.module.venue.edit({venueid: venue.$id})">
        <img class="ui avatar image" ng-src="{{venue.image.fullsize}}">
        <div class="content">
            <div class="header">{{venue.name}}</div>
            <div class="description">
                {{venue.address}}
                <p ng-if>
                    <span class="label label-success"
                          style="margin-right: 2px;"
                          ng-repeat="(key, val) in venue.services" ng-if="val">
                        {{key}}
                    </span>
                </p>
            </div>
        </div>
    </a>
</div>
