<div class="_gallery-item-image">
    <div class="_imagen">
        <div class="_cover" ng-if="!modelo[propiedadimagen]">
            <img ng-src="images/img-sample.png" class="ui medium rounded image">
        </div>

        <div class="_cover" ng-if="modelo[propiedadimagen]">
            <img ng-src="{{modelo[propiedadimagen]}}" class="ui medium rounded image">
        </div>

        <div class="before-upload" ng-if="!modelo[propiedadimagen]">
            <div>
                <button class="ui compact labeled icon button blue"
                        ngf-resize="{width: ancho, height: alto, centerCrop: true}"
                        ngf-select="upload($files,propiedadimagen,modelo)" ngf-multiple="false">
                    <i class="upload icon"></i>
                    Agregar Imagen
                </button>
            </div>
            <br>
            <p><small><em>Dimensiones: {{ancho}}px x {{alto}}px (se ajustara cualquier imagen a este tamaño automáticamente)</em></small></p>
        </div>
    </div>

</div>