<section style="padding-bottom: 15px">
    <div class="ui top attached menu inverted" style="color: white; font-size: 14px; padding: 10px">
        <a href="" class="item" ng-click="remove_item(item.id)">
            Video <i class="trash icon"></i>
        </a>

        <div class="right menu">
            <a href="" class="item" ng-click="up_item(item.id, item._order)">
                <i class="up arrow basic icon"></i>
            </a>
            <a href="" class="item" ng-click="down_item(item.id, item._order)">
                <i class="down arrow basic icon"></i>
            </a>
        </div>
    </div>
    <div class="ui bottom attached segment">
        <div class="field">
            Orden: {{item._order}}
        </div>
        <div class="field">
            <label>Video YouTube</label>
            <input type="text" placeholder="http://youtube.com" ng-model="item.content" to-null>
        </div>
    </div>
</section>